{% if info.type == 'blog_cat' %}
<div class="container container-gap">
  <div data-section-id="{{info.id}}" id="blog-{{info.id}}-articles" class="row"></div>
</div>
<style>.blogsection hr{margin:0}.article__title{font-size:32px;color:#383838;line-height:48px}.article__date{font-size:14px;color:#666666;line-height:28px;margin-top:20px;margin-bottom:10px}.article__excerpt{font-size:16px;color:#666666;line-height:28px;margin-top:20px;margin-bottom:25px;overflow:hidden;display:-webkit-box;-webkit-line-clamp:3;-webkit-box-orient:vertical}.article__readline{margin-bottom:50px;margin-top:10px}.article__read{font-size:16px;font-weight:600;color:#1b7ad5;line-height:28px;flex-shrink:0;margin-right:10px}.article__blogs{font-size:14px;color:#666666;line-height:28px;word-break:break-all;text-align:right}[data-section-type='blog'] .container{padding:0;margin-top:56px}[data-section-type='blog'] .container .row{margin:0 -12px}[data-section-type='blog'] .container .col-12{padding:0 12px}@media (max-width:767.98px){[data-section-type='blog'] .container{padding:0 15px}}</style>
{% javascript %}
$(function(){
  var info = {{ info | json }};
  var sectionId = info.id;
  var page = 1;
  var pn = 4;
  var hasMore = false;
  var callback = function(arr){
    arr.length && ($("#blog-{{info.id}}-title").show());
    $("#blog-{{info.id}}-articles").append(arr.map(function(a){
      return window.template("blogs-tpl", { article: a });
    }).join(""));
  }
	var getMore = function(){
		$.get(info.url + '?per_page='+pn+'&page='+page).then(function(res){
			callback(res.articles);
			hasMore = res.articles.length > 1 ? true : false;
			page++;
		})
	}
   $(document).on('scroll', $.debounce(function () {
	// 判断是否到底
		if (hasMore&&$.isToPageEnd(info.id)) {
			hasMore = false;
			getMore();
		}
	}, 10, 50));
  getMore();
   
});
{% endjavascript %}

<script id="blogs-tpl" type="text/html">
  <div class="col-12 col-md-6">
    <a href="<%= article.url %>" class="article__img">	
    <% var ppbottom = $imports.image_padding_bottom(article.image.width, article.image.height); %>
      <div class="common__img-wrapper_lazy">
        {% assign defaultImg = '/themes/theme1/assets/image/44613f1sd54f.png' | img_url: '1080x' %}
        <% var src = article.image && article.image.src ? article.image.src : '{{defaultImg}}'; %>
        <img src="{{shop.default_img}}" data-src="<%= src %>"
          style="width: 100%;max-height: unset;"
          alt="<%= article.title %>" class="lazy lazyload">
      </div>
    </a>
    <div class="article__date">
    <% if (article.published_at) { %>
      <span><%= $imports.dateFormat($imports.toTimestamp(article.published_at), 'MM.dd.yyyy') %></span>
    <% } %>
    <% if (article.published_at && article.author) { %>
      <span style='margin:0 10px;'>|</span>
    <% } %>
    <% if (article.author) { %>
      <span><%= article.author %></span>
    <% } %>
    </div>
    <a href="<%= article.url %>" class="article__title two_line_text_truncate"><%= article.title %></a>
    <% if (article.excerpt) { %><div class="article__excerpt"><%= article.excerpt %></div><% } %>
    <hr>
    <div class="d-flex justify-content-between article__readline">
      <a href="<%= article.url %>" class="article__read">{{ langs.general.blog.read_more }}</a>
      <span class="article__blogs two_line_text_truncate">
        <% for (var i = 0; i < article.blogs.length; i++) { %>
          <%= article.blogs[i].title %><% if (i < article.blogs.length - 1) { %>,<% } %>
        <% } %>
      </span>
    </div>
  </div>
</script>

{% endif %}
{% if info.type == 'category' %}
<div class="container container-gap">
  <div data-section-id="{{info.id}}" id="category-{{info.id}}-articles" class="row"></div>
</div>
<style>.categorysection hr{margin:0}.article__title{font-size:32px;color:#383838;line-height:48px}.article__date{font-size:14px;color:#666666;line-height:28px;margin-top:20px;margin-bottom:10px}.article__excerpt{font-size:16px;color:#666666;line-height:28px;margin-top:20px;margin-bottom:25px;overflow:hidden;display:-webkit-box;-webkit-line-clamp:3;-webkit-box-orient:vertical}.article__readline{margin-bottom:50px;margin-top:10px}.article__read{font-size:16px;font-weight:600;color:#1b7ad5;line-height:28px;flex-shrink:0;margin-right:10px}.article__categorys{font-size:14px;color:#666666;line-height:28px;word-break:break-all;text-align:right}[data-section-type='category'] .container{padding:0;margin-top:56px}[data-section-type='category'] .container .row{margin:0 -12px}[data-section-type='category'] .container .col-12{padding:0 12px}@media (max-width:767.98px){[data-section-type='category'] .container{padding:0 15px}}</style>
{% javascript %}
$(function(){
  var info = {{ info | json }};
  var sectionId = info.id;
  var page = 1;
  var pn = 4;
  var hasMore = false;
  var callback = function(arr){
    arr.length && ($("#category-{{info.id}}-title").show());
    $("#category-{{info.id}}-articles").append(arr.map(function(a){
      return window.template("categorys-tpl", { article: a });
    }).join(""));
  }
	var getMore = function(){
		$.get(info.url + '?per_page='+pn+'&page='+page).then(function(res){
			callback(res.articles);
			hasMore = res.articles.length > 1 ? true : false;
			page++;
		})
	}
   $(document).on('scroll', $.debounce(function () {
	// 判断是否到底
		if (hasMore&&$.isToPageEnd(info.id)) {
			hasMore = false;
			getMore();
		}
	}, 10, 50));
  getMore();
   
});
{% endjavascript %}

<script id="categorys-tpl" type="text/html">
  <div class="col-12 col-md-6">
    <a href="<%= article.url %>" class="article__img">	
    <% var ppbottom = $imports.image_padding_bottom(article.image.width, article.image.height); %>
      <div class="common__img-wrapper_lazy">
        {% assign defaultImg = '/themes/theme1/assets/image/0647bf3b13.png' | img_url: '1080x' %}
        <% var src = article.image && article.image.src ? article.image.src : '{{defaultImg}}'; %>
        <img src="{{shop.default_img}}" data-src="<%= src %>"
          style="width: 100%;max-height: unset;"
          alt="<%= article.title %>" class="lazy lazyload">
      </div>
    </a>
    <a href="<%= article.url %>" class="article__title two_line_text_truncate"><%= article.title %></a>
    <hr>
  </div>
</script>
{% endif %}