<style>
.logo-color {
  {% assign titleFont = settings.skin_title_font_family %}
  color: {{section.settings.logo_color}};
  font-family: {{titleFont.family}},{{titleFont.fallback_families}};
  font-style: {{titleFont.style}};
  font-weight: {{titleFont.weight}};
}
</style>
<div class="header__wrapper header_plus">
  {% comment %} 公告栏 {% endcomment %}
  {% if section.settings.is_announce_show %}
    {% unless section.settings.is_announce_show_only_on_home %}
      <style>
        .header_skin {
          color: {{section.settings.announce_color}};
          background: {{section.settings.announce_bg_color}};
        }
      </style>
      <a class="fast-bar header_skin"
        {% if section.settings.announce_src.url %}
          href="{{section.settings.announce_src.url}}"
        {% endif %}
        {% unless section.settings.announce_src.type != "web" or section.settings.announce_src.url contains shop.domain %}
          target="_blank"
        {% endunless %}
        style="{% if section.settings.announce_src.url %}cursor: pointer;{% endif %}">
        <div class="container">
          <div class="row">
            <div class="col-12 fast-bar__text-wrapper">
              <span class="fast-bar__text
                {% if section.settings.announce_src.url %} xf_skin_link{% endif %} ">
                {{section.settings.announce_title}}
              </span>
            </div>
          </div>
        </div>
      </a>
    {% endunless %}
  {% endif %}
  {% comment %} 导航图标 {% endcomment %}
  <style>
    .logo-icon-color {
      color: {{section.settings.icon_color}};
    }
    .logo-color {
      color: {{section.settings.logo_color}};
      {% assign titleFont = settings.skin_title_font_family %}
      font-family: {{titleFont.family}},{{titleFont.fallback_families}};
      font-style: {{titleFont.style}};
      font-weight: {{titleFont.weight}};
    }
    .menu-bg-color {
      background: {{section.settings.menu_bg_color}};
    }
  </style>

  <div class="menu-bg-color">
    {% comment %} 移动 {% endcomment %}
    <div class="container header__icon-container d-md-none">
      <div class="row header">
        <div class="col-3 d-flex align-items-center">
          <a class="header__icon header__icon_menu" style="padding-left: 0;">
            <i class="sep-font sep-font-list-normal logo-icon-color banner__color"></i>
          </a>
          {% if section.settings.is_search_show %}
            <a class="header__icon" href="/search">
              <i class="sep-font sep-font-search-normal logo-icon-color banner__color"></i>
            </a>
          {% endif %}
        </div>
        <div class="col-6 d-flex align-items-center justify-content-center">
          <a class="header__logo d-flex align-items-center justify-content-center flex-nowrap banner__color logo-color" href="/">
            {% if section.settings.home_shop_logo %}
              <img src="{{section.settings.home_shop_logo | img_url : '600x'}}" alt="{{images[section.settings.home_shop_logo].alt | default: shop.name}}"/>
            {% elsif section.settings.shop_logo !='' %}
              <img src="{{section.settings.shop_logo | img_url : '600x'}}" alt="{{shop.name}}"/>
            {% else %}
              <span class="text-truncate">{{shop.name}}<span>
            {% endif %}
          </a>
        </div>
        <div class="col-3 d-flex flex-row-reverse align-items-center">
          <a class="header__icon" href="/cart" style="padding-right: 0;">
            <i class="banner__color sep-font sep-font-{{section.settings.cart_style}}-fill logo-icon-color xf_skin_link"></i>
            <span class="logo-icon-color header__cart-count banner__color"></span>
          </a>
        </div>
      </div>
    </div>
    {% comment %} PC端居中菜单 {% endcomment %}
    {% assign min_menu = 3 %}
    <div class="container header__icon-container d-none d-md-block">
      <div class="row header d-flex justify-content-between flex-nowrap">
        {% comment %} 居中 {% endcomment %}
        {% assign links = linklists[section.settings.menu_id.id].links %}
        {% if links.size > min_menu %}
          <div class="col-4 d-flex align-items-center">
            <a class="header__icon header__icon_menu" style="margin-left: 0;">
              <i class="sep-font sep-font-list-normal logo-icon-color banner__color"></i>
            </a>
          </div>
        {% endif %}
        {% assign logo_col_wrapper = "col-4 justify-content-center" %}
        {% if links == '' or links.size <= min_menu %}
          {% assign logo_col_wrapper = "" %}
        {% endif %}
        <div class="{{logo_col_wrapper}} d-flex align-items-center flex-nowrap">
          {% assign logo_col = "col-12 justify-content-center" %}
          {% if links == '' or links.size <= min_menu %}
            {% assign logo_col = "col-auto justify-content-start" %}
          {% endif %}
          <a class="header__logo d-flex align-items-center {{logo_col}} banner__color logo-color" href="/">
            {% if section.settings.home_shop_logo %}
              <img src="{{section.settings.home_shop_logo | img_url : '600x'}}" alt="{{images[section.settings.home_shop_logo].alt | default: shop.name}}"/>
            {% elsif section.settings.shop_logo !='' %}
              <img src="{{section.settings.shop_logo | img_url : '600x'}}" alt="{{shop.name}}"/>
            {% else %}
              <span class="text-truncate">{{shop.name}}<span>
            {% endif %}
          </a>
          {% if links == '' or links.size <= min_menu %}
            {% assign links = linklists[section.settings.menu_id.id].links %}
            {% if links.size > 0 %}
              <div class="navigation-pc d-none d-md-block header__short_menu banner__color xf_skin_text_font_family">
                <div class="navigation-pc__menu" id="navigation-pc-menu">
                  {% for firstLinks in links %}
                    {% assign link = firstLinks.son %}
                    <div class="navigation-pc__menu-block {% if link.size > 0 %} navigation-pc__menu-block_has-child {% endif %}">
                      <div class="navigation-pc__menu-item
                        {% if firstLinks.active %}navigation-pc__menu-item_on{% endif %}">
                        {% unless firstLinks.url %}
                          <span class="navigation-pc__menu-item_link text-truncate">
                            {{ firstLinks.name }}
                            {% if link.size > 0  %} <i class="navigation-pc__icon sep-font sep-font-angle-down-strong"></i> {% endif %}
                          </span>
                        {% else %}
                          <a class="navigation-pc__menu-item_link text-truncate" href="{{ firstLinks.url }}"
                            {% unless firstLinks.type != "web" or firstLinks.url contains shop.domain %} target="_blank" {% endunless %} >
                            {{ firstLinks.name }}
                            {% if link.size > 0  %} <i class="navigation-pc__icon sep-font sep-font-angle-down-strong"></i> {% endif %}
                          </a>
                        {% endunless %}
                      </div>
                      {% if link.size > 0  %}
                        {% assign secondLinks = link %}
                        {% comment %} 
                          菜单类型：仅二级菜单，三级菜单（多组菜单，单组菜单） 
                          treeType('two','three')->菜单层级
                          threeLinksSize(number)->拥有三级菜单的二级菜单数量
                          存在三级菜单(多组菜单,子菜单显示1~5列，自左往右排序。下拉容器宽高自适应主题内容区域宽高)
                          存在三级菜单(仅有一组菜单,单列显示，下拉容器宽度自适应列宽，不通栏显示)
                          仅存在二级菜单(所有二级菜单单列显示，下拉容器宽度自适应列宽，不通栏显示)
                        {% endcomment %}
                        {% assign seconndLinksSize = 0 %}
                        {% assign threeLinksSize = 0 %}
                        {% assign treeType = 'two' %}
                        {% for secondLink in secondLinks %}
                          {% assign seconndLinksSize = seconndLinksSize | plus: 1 %}
                          {% if seconndLinksSize > 1 %}
                            {% assign threeLinksSize = threeLinksSize | plus: 1 %}
                          {% endif %}
                          {% if  secondLink.son.size > 0 %}
                            {% assign treeType = 'three' %}
                            {% assign threeLinksSize = threeLinksSize | plus: 1 %}
                          {% endif %}
                        {% endfor %}
                        {% comment %} 仅存在二级菜单 {% endcomment %}
                        {% if treeType == 'two' %}
                        <div class="navigation-pc__menu-block navigation-pc__menu-block_child">
                          {% for secondLink in secondLinks %}
                            {% unless secondLink.url %}
                                <span class="navigation-pc__menu-item_link navigation-pc__menu-item_link_second text-truncate">{{ secondLink.name }}</span>
                              {% else %}
                                <a class="navigation-pc__menu-item_link navigation-pc__menu-item_link_second text-truncate" href="{{ secondLink.url }}"
                                  {% if secondLink.type != "web" or secondLink.url contains shop.domain %} target="_blank" {% endif %}>
                                  {{ secondLink.name }}
                                </a>
                              {% endunless %}
                          {% endfor %}
                        </div>
                        {% comment %} 只有一组二级菜单，二级菜单有多个三级菜单 {% endcomment %}
                        {% elsif threeLinksSize == 1 %}
                          <div class="navigation-pc__menu-block navigation-pc__menu-block_child">
                            {% for secondLink in secondLinks %}
                              <div class="navigation-pc__third-menu-blocks w-100">
                                <div class="d-flex align-items-center justify-content-between">
                                  {% unless secondLink.url %}
                                    <span class="navigation-pc__menu-item_link navigation-pc__menu-item_link_second text-truncate font-weight-bold">{{ secondLink.name }}</span>
                                  {% else %}
                                    <a class="navigation-pc__menu-item_link navigation-pc__menu-item_link_second text-truncate font-weight-bold" href="{{ secondLink.url }}"
                                      {% unless secondLink.type != "web" or secondLink.url contains shop.domain %} target="_blank" {% endunless %}>
                                      {{ secondLink.name }}
                                    </a>
                                  {% endunless %}
                                  {% if  secondLink.son.size > 0 %}
                                    <i class="sep-font navigation-m__icon nav_second-menu-icon flex-grow-1 text-right sep-font-plus d-block d-md-none"></i>
                                  {% endif %}
                                </div>
                                <div class="navigation-pc__third-menu-items d-flex flex-column">
                                {% assign thirdLinks = secondLink.son %}
                                {% for threeLink in thirdLinks %}
                                  {% unless threeLink.url %}
                                    <span class="navigation-pc__menu-item_link text-truncate">{{ threeLink.name }}</span>
                                  {% else %}
                                    <a class="navigation-pc__menu-item_link text-truncate" href="{{ threeLink.url }}"
                                      {% unless threeLink.type != "web" or threeLink.url contains shop.domain %} target="_blank" {% endunless %}>
                                      {{ threeLink.name }}
                                    </a>
                                  {% endunless %}
                                {% endfor %}
                                </div>
                              </div>
                            {% endfor %}
                          </div>
                        {% else %}
                        {% comment %} navigation-hidden-data 隐藏三级导航数据 拥有多个二级菜单 {% endcomment %}
                          <div class="d-none navigation-hidden-data navigation-pc__menu-block navigation-pc__menu-block_child">
                            {% assign secondLinkNum = 0 %}
                            {% for secondLink in secondLinks %}
                            {% assign secondLinkNum =  secondLinkNum | plus: 1 %}
                            <div class="navigation-pc__third-menu-blocks {% if secondLinkNum == secondLinks.size and secondLinks.size > 5 %} nav_wrap_menus {% endif %}">
                              <div class="d-flex align-items-center justify-content-between">
                                {% unless secondLink.url %}
                                  <span class="navigation-pc__menu-item_link text-truncate font-weight-bold">{{ secondLink.name }}</span>
                                {% else %}
                                  <a class="navigation-pc__menu-item_link text-truncate font-weight-bold" href="{{ secondLink.url }}"
                                    {% unless secondLink.type != "web" or secondLink.url contains shop.domain %} target="_blank" {% endunless %}>
                                    {{ secondLink.name }}
                                  </a>
                                {% endunless %}
                                {% if  secondLink.son.size > 0 %}
                                  <i class="sep-font navigation-m__icon nav_second-menu-icon flex-grow-1 text-right sep-font-plus d-block d-md-none"></i>
                                {% endif %}
                                
                              </div>
                              <div class="navigation-pc__third-menu-items d-flex flex-column">
                              {% assign thirdLinks = secondLink.son %}
                                {% for threeLink in thirdLinks %}
                                  <a class="navigation-pc__third-menu-item text-truncate"
                                    {% if threeLink.url %}href="{{ threeLink.url }}"{% endif %}
                                    {% unless threeLink.type != "web" or threeLink.url contains shop.domain %}target="_blank"{% endunless %}
                                  >{{ threeLink.name }}</a>
                                {% endfor %}
                              </div>
                            </div>
                            {% endfor %}
                          </div>
                        {% endif %}
                      {% endif %}
                    </div>
                  {% endfor %}
                </div>
              </div>
            {% endif %}
          {% endif %}
        </div>
        <div class="col-4 d-flex flex-row-reverse align-items-center">
          <div class="multiply_currency"></div>
          <a class="header__icon logo-icon-color" href="/cart">
            <i class="sep-font sep-font-{{section.settings.cart_style}}-fill xf_skin_link banner__color"></i>
            <span class="header__cart-count banner__color"></span>
          </a>
          {% if section.settings.is_account_show %}
            <div class="header__icon header__account">
              <i class="sep-font sep-font-user-fill logo-icon-color xf_skin_link banner__color"></i>
              <div style="display: none;" class="header__account-popover">
                <ul>
                  {% if customer.id %}
                    <li class="header__popover-item"><a href="/account/orders">{{ langs.navigation.general.my_orders | t }}</a></li>
                    <li class="header__popover-item"><a href="/account/address">{{ langs.navigation.general.address_book | t }}</a></li>
                    <li class="header__popover-item"><div style="border-top: 1px solid #D4D4D4" class="header__logout">{{ langs.navigation.general.log_out | t }}</div></li>
                  {% else %}
                    <li class="header__popover-item"><a href="/account/login">{{ langs.navigation.general.login | t }}</a></li>
                    <li class="header__popover-item"><a href="/account/register">{{ langs.navigation.general.register | t }}</a></li>
                  {% endif %}
                </ul>
              </div>
            </div>
          {% endif %}
          {% if section.settings.is_search_show %}
            <a tabindex="-1" class="header__icon d-none d-md-flex flex-row-reverse align-items-center header__search" href="/search">
              <i class="banner__color sep-font sep-font-search-normal header__search-icon logo-icon-color xf_skin_link" tabindex="-1"></i>
              {% comment %} <input type="text" class="form-control header__search-input " style="display: none;" placeholder="Search for..." /> {% endcomment %}
            </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  {% comment %} 三级导航通屏占位 {% endcomment %} 
  <div class="menus_container">
    <div class="menus_container_inner container d-md-flex justify-content-center flex-wrap">
    </div>
  </div>

</div>
{% comment %} 汉堡侧边抽屉菜单 {% endcomment %}
{% comment %} navigation-m__menu-item_expanded 用于表示菜单是否显示展开 {% endcomment %}
{% comment %} navigation-m__menu-item_has-child 用于表示是否有二级菜单，用来切换 expanded {% endcomment %}
<div class="container">
  <div class="row">
    <div class="col-12 navigation-m header_menu xf_skin_text_font_family">
      <div class="navigation-m__menu-wrap">
        <div class="navigation-m__menu">
          {% assign links = linklists[section.settings.menu_id.id].links %}
          {% for firstLinks in links %}
            {% assign link = firstLinks.son %}
            <div class="navigation-m__menu-block">
              <div style="margin-bottom: 0;" class="navigation-m__menu-item
                {% if link.size > 0 %} navigation-m__menu-item_has-child {% endif %}
                d-flex justify-content-between align-items-center">
                {% unless firstLinks.url %}
                  <span class="text-truncate navigation-m__menu-item_link">{{ firstLinks.name }}</span>
                {% else %}
                  <a class="text-truncate navigation-m__menu-item_link" href="{{ firstLinks.url }}"
                    {% unless firstLinks.type != "web" or firstLinks.url contains shop.domain %}
                      target="_blank"
                    {% endunless %}
                  >
                    {{ firstLinks.name }}
                  </a>
                {% endunless %}
                {% if link.size > 0 %} <i class="sep-font sep-font-plus navigation-m__first_icon"></i> {% endif %}
              </div>
              {% if link.size > 0 %}
               {% comment %} 开始 {% endcomment %}
                {% assign secondLinks = link %}
                {% comment %} 
                  菜单类型：仅二级菜单，三级菜单（多组菜单，单组菜单） 
                  treeType('two','three')->菜单层级
                  threeLinksSize(number)->拥有三级菜单的二级菜单数量
                  存在三级菜单(多组菜单,子菜单显示1~5列，自左往右排序。下拉容器宽高自适应主题内容区域宽高)
                  存在三级菜单(仅有一组菜单,单列显示，下拉容器宽度自适应列宽，不通栏显示)
                  仅存在二级菜单(所有二级菜单单列显示，下拉容器宽度自适应列宽，不通栏显示)
                {% endcomment %}
                {% assign seconndLinksSize = 0 %}
                {% assign threeLinksSize = 0 %}
                {% assign treeType = 'two' %}
                {% for secondLink in secondLinks %}
                  {% assign seconndLinksSize = seconndLinksSize | plus: 1 %}
                  {% if seconndLinksSize > 1 %}
                    {% assign threeLinksSize = threeLinksSize | plus: 1 %}
                  {% endif %}
                  {% if  secondLink.son.size > 0 %}
                    {% assign treeType = 'three' %}
                    {% assign threeLinksSize = threeLinksSize | plus: 1 %}
                  {% endif %}
                {% endfor %}
                {% comment %} 仅存在二级菜单 {% endcomment %}
                {% if treeType == 'two' %}
                  <div class="navigation-m__menu-block">
                    <div class="navigation-m__menu-item navigation-m__menu-item_child">
                      {% for secondLink in secondLinks %}
                        {% unless secondLink.url %}
                            <span class="navigation-pc__menu-item_link text-truncate">{{ secondLink.name }}</span>
                          {% else %}
                            <a class="navigation-pc__menu-item_link text-truncate" href="{{ secondLink.url }}"
                              {% unless secondLink.type != "web" or secondLink.url contains shop.domain %} target="_blank" {% endunless %}>
                              {{ secondLink.name }}
                            </a>
                          {% endunless %}
                      {% endfor %}
                    </div>
                  </div>
                {% comment %} 只有一组二级菜单，二级菜单有多个三级菜单 {% endcomment %}
                {% elsif threeLinksSize == 1 %}
                  <div class="navigation-m__menu-block">
                    <div class="navigation-m__menu-item navigation-m__menu-item_child">
                      {% for secondLink in secondLinks %}
                        <div class="navigation-pc__third-menu-blocks w-100">
                          <div class="d-flex align-items-center justify-content-between nav_second-menu-icon-close">
                            {% unless secondLink.url %}
                              <span class="navigation-pc__menu-item_link text-truncate">{{ secondLink.name }}</span>
                            {% else %}
                              <a class="navigation-pc__menu-item_link text-truncate" href="{{ secondLink.url }}"
                                {% unless secondLink.type != "web" or secondLink.url contains shop.domain %} target="_blank" {% endunless %}>
                                {{ secondLink.name }}
                              </a>
                            {% endunless %}
                            {% if  secondLink.son.size > 0 %}
                              <i class="sep-font navigation-m__icon nav_second-menu-icon flex-grow-1 text-right sep-font-plus"></i>
                            {% endif %}
                          </div>
                          <div class="navigation-pc__third-menu-items d-flex flex-column">
                          {% assign thirdLinks = secondLink.son %}
                          {% for threeLink in thirdLinks %}
                            {% unless threeLink.url %}
                              <span class="navigation-pc__third-menu-item text-truncate">{{ threeLink.name }}</span>
                            {% else %}
                              <a class="navigation-pc__third-menu-item text-truncate" href="{{ threeLink.url }}"
                                {% unless threeLink.type != "web" or threeLink.url contains shop.domain %} target="_blank" {% endunless %}>
                                {{ threeLink.name }}
                              </a>
                            {% endunless %}
                          {% endfor %}
                          </div>
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                {% else %}
                  <div class="navigation-m__menu-block">
                    <div class="navigation-hidden-data navigation-m__menu-item navigation-m__menu-item_child">
                      {% for secondLink in secondLinks %}
                        <div class="navigation-pc__third-menu-blocks">
                          <div class="d-flex align-items-center justify-content-between nav_second-menu-icon-close">
                            {% unless secondLink.url %}
                              <span class="navigation-pc__menu-item_link text-truncate">{{ secondLink.name }}</span>
                            {% else %}
                              <a class="navigation-pc__menu-item_link text-truncate" href="{{ secondLink.url }}"
                                {% unless secondLink.type != "web" or secondLink.url contains shop.domain%} target="_blank" {% endunless %}>
                                {{ secondLink.name }}
                              </a>
                            {% endunless %}
                            {% if  secondLink.son.size > 0 %}
                              <i class="sep-font navigation-m__icon nav_second-menu-icon flex-grow-1 text-right sep-font-plus"></i>
                            {% endif %}
                          </div>
                          <div class="navigation-pc__third-menu-items d-flex flex-column">
                            {% assign thirdLinks = secondLink.son %}
                            {% for threeLink in thirdLinks %}
                              {% unless threeLink.url %}
                                <span class="navigation-pc__third-menu-item text-truncate">{{ threeLink.name }}</span>
                              {% else %}
                              <a class="navigation-pc__third-menu-item text-truncate"
                                href="{{ threeLink.url }}" {% unless threeLink.type != "web" or threeLink.url contains shop.domain %}target="_blank"{% endunless %}
                              >{{ threeLink.name }}</a>
                              {% endunless %}
                            {% endfor %}
                          </div>
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                {% endif %}
              {% endif %}
            </div>
            <hr>
          {% endfor %}
        </div>
        {% comment %} 个人中心 {% endcomment %}
        {% if section.settings.is_account_show %}
          <div class="navigation-m__account">
            <div class="navigation-m__menu-block">
                {% if customer.id %}
                <div class="navigation-m__menu-item navigation-m__menu-item_has-child navigation-m__menu-item_expanded d-flex justify-content-between">
                  <span class="text-truncate navigation-m__menu-item_link">{{ langs.navigation.general.my_account | t }}</span>
                  <i class="sep-font sep-font-minus navigation-m__icon navigation-m__first_icon"></i>
                </div>
                <div class="navigation-m__menu-block">
                  <div class="navigation-m__menu-item navigation-m__menu-item_second">
                    <a class="navigation-m__menu-item_link" href="/account/orders">{{ langs.navigation.general.my_orders | t }}</a>
                  </div>
                  <div class="navigation-m__menu-item navigation-m__menu-item_second">
                    <a class="navigation-m__menu-item_link" href="/account/address">{{ langs.navigation.general.address_book | t }}</a>
                  </div>
                  <div class="navigation-m__menu-item navigation-m__menu-item_second">
                    <a class="navigation-m__menu-item_link header__logout">{{ langs.navigation.general.log_out | t }}</a>
                  </div>
                </div>
                {% else %}
                <div class="navigation-m__menu-block">
                  <div class="navigation-m__menu-item">
                    <a class="navigation-m__menu-item_link" href="/account/login">{{ langs.navigation.general.login | t }}</a>
                  </div>
                  <hr>
                  <div class="navigation-m__menu-item">
                    <a class="navigation-m__menu-item_link" href="/account/register">{{ langs.navigation.general.register | t }}</a>
                  </div>
                </div>
                {% endif %}
            </div>
          </div>
        {% endif %}
      </div>
      {% comment %} 货币接入 {% endcomment %}
      <div class="navigation-m__setting d-md-none">
        <div class="multiply_currency"></div>
      </div>
    </div>
  </div>
</div>

<style>
  [data-section-id='{{section.id}}'] .navigation-pc__menu-item_on::after,
  [data-section-id='{{section.id}}'] .navigation-pc__menu-item:hover::after {
    background-color: {{settings.skin_title_color}};
  }
  [data-section-id='{{section.id}}'] .header__short_menu {
    color: {{section.settings.menu_item_color}};
  }
  [data-section-id="{{section.id}}"] .menus_container_inner {
    max-height: 656px;
    overflow: scroll;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
  }
  [data-section-id="{{section.id}}"] .menus_container_inner::-webkit-scrollbar {
      width: 0 !important;
  }
</style>


{% include 'header_plus_js' %}


{% javascript %}
  $(function () {
    $.header && $.header({
      id: '{{section.id}}',
      env: {{shop.env}},
      style: '{{section.settings.style}}',
      is_search_show: {{section.settings.is_search_show}},
      is_account_show: {{section.settings.is_account_show}}
    });
    $(window).on('resize header_event', function() {
      var w = $(window).width();
      if ( w < 768) {
        $('.nav_second-menu-icon').parent().addClass('nav_second-menu-icon-close');
      }
    }).trigger('header_event');
  })
{% endjavascript %}

{% schema %}
{
  "name": "header_plus",
  "settings": [
    {
      "type": "header",
      "content": {
        "zh-CN": "菜单导航设置",
        "en-US": "Navigation"
      }
    },
    {
      "type": "link_list",
      "id": "menu_id",
      "label": {
        "zh-CN": "选择菜单",
        "en-US": "Select menu"
      },
      "default": {
        "id": "header",
        "type": "menu",
        "title": {
          "zh-CN": "顶部导航菜单",
          "en-US": "Main menu"
        }
      }
    },
    {
      "type": "header",
      "content": {
        "zh-CN": "公告栏",
        "en-US": "Announcement"
      }
    },
    {
      "type": "checkbox",
      "id": "is_announce_show",
      "label": {
        "en-US": "Show announcement",
        "zh-CN": "开启公告栏"
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "is_announce_show_only_on_home",
      "label": {
        "en-US": "Home page only",
        "zh-CN": "仅首页显示公告栏"
      },
      "default": false
    },
    {
      "type": "text",
      "id": "announce_title",
      "placeholder": {
        "zh-CN": "输入文本内容",
        "en-US": "Input text"
      },
      "label": {
        "zh-CN": "公告栏文案",
        "en-US": "Announcement text"
      },
      "default": "We Offer Free Shipping Worldwide."
    },
    {
      "type": "url",
      "id": "announce_src",
      "label": {
        "zh-CN": "公告栏链接",
        "en-US": "Link"
      },
      "default": ""
    },
    {
      "type": "header",
      "content": {
        "zh-CN": "顶部logo与图标",
        "en-US": "Logo and icon"
      }
    },
    {
      "type": "image_picker",
      "id": "shop_logo",
      "label": {
        "en-US": "Logo image",
        "zh-CN": "logo图片"
      },
      "info": {
        "zh-CN": "建议尺寸：600x150，减少左右边距留白",
        "en-US": "Recommended resolution: 600x150, reduce the left and right blank margin"
      },
      "default": ""
    },
    {
      "type": "image_picker",
      "id": "home_shop_logo",
      "label": {
        "zh-CN": "首页专用logo图片",
        "en-US": "Image"
      },
      "info": {
        "zh-CN": "建议尺寸：600x150，减少左右边距留白",
        "en-US": "Recommended resolution: 600x150, reduce the left and right blank margin"
      }
    },
    {
      "type": "select",
      "id": "cart_style",
      "label": {
        "zh-CN": "购物车形状",
        "en-US": "Cart icon"
      },
      "default": "cart",
      "options": [
        {
          "value": "cart",
          "label": {
            "en-US": "Cart",
            "zh-CN": "购物车"
          }
        },
        {
          "value": "bag",
          "label": {
            "zh-CN": "购物袋",
            "en-US": "Bag"
          }
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "is_account_show",
      "label": {
        "zh-CN": "个人中心",
        "en-US": "User center"
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "is_search_show",
      "label": {
        "en-US": "Search",
        "zh-CN": "搜索"
      },
      "default": true
    },
    {
      "type": "header",
      "content": {
        "en-US": "Color settings",
        "zh-CN": "颜色设置"
      },
      "info": {
        "zh-CN": "导航栏相关颜色的配置仅对首页以外的页面生效",
        "en-US": "Navigation color settings only works for the non-homepage."
      }
    },
    {
      "type": "color",
      "id": "announce_color",
      "label": {
        "zh-CN": "公告栏字体",
        "en-US": "Announcement font"
      },
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "announce_bg_color",
      "label": {
        "zh-CN": "公告栏背景",
        "en-US": "Announcement"
      },
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "menu_bg_color",
      "label": {
        "zh-CN": "导航栏背景",
        "en-US": "Navigation"
      },
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "menu_item_color",
      "label": {
        "zh-CN": "菜单项字体",
        "en-US": "Menu font"
      },
      "default": "#212121"
    },
    {
      "type": "color",
      "id": "logo_color",
      "label": {
        "en-US": "Logo font",
        "zh-CN": "logo字体"
      },
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "icon_color",
      "label": {
        "zh-CN": "图标",
        "en-US": "Icon"
      },
      "default": "#000000"
    }
  ],
  "presets": [
    {
      "name": "header_plus",
      "cname": {
        "en-US": "Navigation",
        "zh-CN": "导航"
      },
      "category": {
        "en-US": "Navigation",
        "zh-CN": "导航"
      },
      "ccategory": {
        "en-US": "Navigation",
        "zh-CN": "导航"
      },
      "display": false,
      "blocks": []
    }
  ]
}
{% endschema %}
