<style data-do-not-minify="true">
@charset "UTF-8";.row_cart{margin:0 -1.875rem}.no-cart__title{font-size:2.25rem;margin-top:6.25rem;margin-bottom:2rem;color:#212121}.no-cart__msg{font-size:1rem;color:#212121;margin-bottom:2rem}.cart{padding-bottom:12.5rem}.cart a:hover{text-decoration:none}.cart__title{font-size:2.125rem;letter-spacing:1.7px;padding:6.25rem 0 3.5rem 0}.cart__item{display:flex;align-items:flex-start;padding:20px 0;border-bottom:1px solid #dfdfdf;list-style:none}.cart__item_grouped{border-bottom-color:transparent}.cart__item .cart__checkbox{margin:0 15px 0 24px;display:none!important}.cart__item.cart__header .cart__checkbox{margin:0}@media (max-width:767.98px){.cart__item .cart__checkbox{margin:0 7px 0 0;align-self:center}}.cart__detail{flex:1;display:flex}.cart__price{width:28.29787%;text-align:center}.cart__qty{width:22.97872%;text-align:center}.cart__qty-wrap{display:flex;align-items:center;justify-content:center;height:28px}.cart__remove{width:9.57447%;text-align:center}.cart__remove .sep-font-close-circle-thin{color:#212121}.cart__remove .sep-font-close-circle-thin:hover{color:#909090}.cart__total{width:17.65957%;text-align:right;font-size:14px}.cart__total .counter-value{color:#212121;font-size:14px}.cart__header{color:#2a2a2a;border-top:1px solid #d4d4d4;font-size:16px;border-bottom:1px solid #d4d4d4;line-height:40px;height:40px;padding:0}.cart__header-checkbox-wrap{width:40px;height:40px;display:flex;justify-content:center;align-items:center}.cart__header-checkbox-wrap.only_one_item{width:0}.cart__checkbox{position:relative;width:16px;height:16px;background:#fff;border:1px solid #9d9d9d;border-radius:2px;cursor:pointer}.cart__checkbox::before{position:absolute;content:'';top:-4px;right:-4px;bottom:-4px;left:-4px}.cart__checkbox_disabled{background:#f5f5f5;border:1px solid #d9d9d9;border-radius:2px}.cart__checkbox_hide{width:0!important;height:0!important;border:none!important;display:none!important}.cart__checkbox_hide::before{display:none}.cart__checkbox>svg{position:absolute;left:-1px;top:-1px;visibility:hidden}.cart__checkbox_checked.cart__checkbox>svg{visibility:visible}@media (max-width:767.98px){.cart__checkbox{border-radius:50%}.cart__checkbox_disabled{background:#f5f5f5;border:1px solid #d9d9d9}}.cart__img{position:relative;width:140px;max-height:420px}.cart__img img{display:block!important;max-width:100%;max-height:420px;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.cart__img_sold-out::after{content:attr(title);position:absolute;width:100%;background:#999;font-size:12px;color:#fff;text-align:center;padding:2px 0;left:0;top:0}.cart__content{width:21.48936%;margin:0 15px 0 20px}.cart__content .spec{color:grey;letter-spacing:0;font-size:14px;line-height:16px}.cart__content .spec>p{margin-top:10px;margin-bottom:10px}.cart__content .spec>p i.sep-font{color:#000;cursor:pointer}.cart__content .spec .modal .modal-dialog{margin:0;width:100%;height:100%}@media (min-width:576px){.cart__content .spec .modal .modal-dialog{max-width:unset;margin:0}}.cart__content .spec .modal .image-wrap{position:absolute;left:50%;top:50%;transform:translate(-50%,-50%)}.cart__content .spec .modal .image-wrap img{display:block;max-width:700px;max-height:700px}.cart__content .spec .modal .image-wrap>.hide-modal{display:block;position:absolute;top:-28px;right:0;font-size:30px;color:#fff;cursor:pointer}.cart__content .spec .modal>.hide-modal{display:none}.cart__content .product_title{color:#212121;font-size:14px;overflow:hidden;text-overflow:ellipsis;word-break:break-word;-webkit-line-clamp:4;display:-webkit-box;-webkit-box-orient:vertical}.cart__now-price{margin-right:10px;font-size:14px}.cart__compare-at-price{font-size:12px}.cart__counter,.cart__qty-input{border:1px solid #666;font-size:19px;width:28px;height:28px;line-height:26px;text-align:center}.cart .counter-less{line-height:26px}.cart__qty-input{margin:0 5px;width:40px;font-size:14px;position:relative;-moz-appearance:textfield}.cart__qty-input::-webkit-inner-spin-button,.cart__qty-input::-webkit-outer-spin-button{-webkit-appearance:none;margin:0}.cart__counter_disabled,.cart__qty-input_disabled{pointer-events:none;cursor:not-allowed;opacity:.6;background-color:#efefef}.cart__counter_sub{color:#2a2a2a;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;line-height:24px;display:flex;justify-content:center;align-items:center}.cart__counter_sub img{width:24px;height:24px}.cart__rebate{margin-bottom:1px;position:relative;margin-bottom:1px;text-overflow:ellipsis;overflow:hidden;white-space:normal;line-height:18px;background-color:#f3f3f3;padding:9px 20px;font-size:14px;color:#333}@media (max-width:767.98px){.cart__rebate{margin-bottom:5px;padding:9px 15px}}.cart__rebate .arrow{margin-left:9px;width:8px}.cart__rebate b{color:#f33;text-decoration:underline}.cart__discount{color:#c00;font-size:14px}@media (min-width:768px){.cart__discount-container{margin-bottom:48px}}@media (max-width:767.98px){.cart__discount-container{margin-bottom:0}}@media (min-width:768px){.cart__submit{position:relative}}.cart__checkout_wrapper{text-align:right;padding-top:20px;margin-left:auto}@media (min-width:768px){.cart__checkout_wrapper{width:294px;float:right}}.cart__sub-total{color:#666;float:left;font-size:14px;line-height:14px}.cart__original-price{margin:5px 0 0 0;font-size:14px;line-height:14px}.cart__total-price{font-size:14px;line-height:14px}.cart__total-price-wrapper{margin-bottom:20px}.cart__total-price-wrapper.free-gift .free-gift__header .cart__sub-total{word-break:break-all;text-align:left;padding-right:20px}.cart__total-price-wrapper.free-gift .free-gift__content{max-height:0;overflow:hidden}.cart__total-price-wrapper.free-gift .sep-font-angle-down-fill{cursor:pointer}.cart__total-price-wrapper.free-gift.expand .free-gift__content{max-height:9999px}.cart__total-price-wrapper.free-gift.expand .sep-font-angle-down-fill{transform:rotate(180deg)}@media (min-width:768px){.cart__recommended{position:relative;top:0;width:calc(100% - 320px);float:left}}@media (max-width:767.98px){.cart__recommended{margin:0 -.9375rem}}.cart .sep-font-angle-right{right:0}.cart .sep-font-angle-left{left:0}.cart__recommended-products{display:flex}.cart__recommended-products_title{font-size:24px;line-height:29px;margin-bottom:32px;margin-top:32px;white-space:nowrap}@media (max-width:767.98px){.cart__recommended-products_title{margin-left:12px}}.cart__recommended-products_wrapper{width:100%;overflow:auto;position:relative;-ms-overflow-style:none;scrollbar-width:none}.cart__recommended-products_wrapper::-webkit-scrollbar{display:none}.cart__recommended-products_btn{top:39%;margin-top:-1.5625rem;outline:0;height:3.125rem;text-align:center;line-height:3.125rem;background:#212121;color:#fff;cursor:pointer;opacity:1;z-index:4;position:absolute}.cart__recommended-products_btn.disabled{background-color:#d6d6d6;cursor:not-allowed}.cart__recommended-products_btn:hover{color:#fff;background:#4b4b4b;opacity:1}.cart__recommended-product{width:33%;position:relative;flex-shrink:0}.cart__total-price-wrapper_last{margin-bottom:30px}.cart__total-price-wrapper_last .cart__sub-total{color:#212121;font-size:17px;line-height:17px}.cart__total-price-wrapper_last .cart__total-price{font-size:17px;line-height:17px}.cart__total-price-wrapper_last .cart__checkbox{float:left;margin-right:7px}.cart__hr{margin:0;margin-bottom:20px}.cart__checkout{margin-top:15px;display:block;width:100%;height:50px;font-size:16px}.cart__submit-tip{color:#666;font-size:14px}.cart input::-webkit-inner-spin-button,.cart input::-webkit-outer-spin-button{-webkit-appearance:none}@media screen and (max-width:767.98px){.no-cart__title{font-size:1.375rem;margin-top:3.125rem;margin-bottom:1.5625rem;line-height:1.375rem}.no-cart__msg{color:#666;line-height:1rem;margin-bottom:1.5625rem}.no-cart__continue{display:block;margin:0 .9375rem 1.5625rem .9375rem;padding:.5625rem}.row_cart{margin:0 -.9375rem}.row_col{padding:0}.cart{width:auto;padding-bottom:3.125rem}.cart__header,.cart__total{display:none}.cart__title{height:3.8125rem;line-height:3.8125rem;padding:0;margin:0;font-size:1.3125rem}.cart__item{padding:1.25rem 0;margin:0 .9375rem}.cart__detail{flex-wrap:wrap}.cart__content{width:calc(100% - 62px);margin:0 1.375rem .875rem 0;flex:1 1 auto}.cart__content .product_title{-webkit-line-clamp:2;margin-bottom:0;font-size:.875rem;color:#212121}.cart__content .item-spec-1{font-size:.75rem;color:#999;line-height:1rem}.cart__content .spec p{margin-top:.3125rem;margin-bottom:0}.cart__content .spec .modal .image-wrap>.hide-modal{display:none}.cart__content .spec .modal .image-wrap img{max-width:345px;max-height:345px}.cart__content .spec .modal>.hide-modal{position:fixed;top:30px;right:15px;display:block;font-size:30px;color:#fff}.cart__img{background-position-x:center;width:5.625rem;height:8.4375rem;margin-right:.9375rem}}@media screen and (max-width:767.98px) and (max-width:321px){.cart__img{margin-right:.875rem}}@media screen and (max-width:767.98px){.cart__img img{display:block!important;-o-object-fit:contain;object-fit:contain;width:100%;height:100%}.cart__price{order:4;width:50%;text-align:left;color:#212121;line-height:1.125rem}.cart__qty{display:flex;justify-content:flex-end;order:5;width:50%;text-align:right}.cart__counter,.cart__qty-input{width:24px;height:24px;line-height:22px;top:0;font-size:12px}.cart__counter_disabled,.cart__qty-input_disabled{border-color:#ccc;background-color:#ccc;opacity:.4}.cart__remove{order:3;width:16px}.cart__img_sold-out a{display:block;height:100%}.cart__img_sold-out a img{display:none}.cart__rebate{justify-content:space-between}.cart__rebate:first-child{margin-top:0}.cart__discount{font-size:.75rem}.cart__original-price{font-size:.875rem}.cart__submit{padding:1.5625rem .9375rem 0 .9375rem;width:auto}.cart__checkout,.cart__submit-tip{width:100%}}@media (max-width:767.98px){html[dir=rtl] .cart__img{margin-right:0;margin-left:.9375rem}html[dir=rtl] .cart__content{margin:0 0 .875rem 2.1875rem}html[dir=rtl] .cart__price{text-align:right}html[dir=rtl] .cart__now-price{margin-right:0;margin-left:.625rem}html[dir=rtl] .cart__qty{text-align:left}html[dir=rtl] .cart__checkbox{margin:0 0 0 7px}}@media (min-width:768px){html[dir=rtl] .cart__recommended{left:0}}html[dir=rtl] .cart__rebate .sep-font{left:4px;right:unset;transform:rotate(180deg)}@-webkit-keyframes pploading{0%{background-position:0 0}50%{background-position:100% 0}100%{background-position:200% 0}}@keyframes pploading{0%{background-position:0 0}50%{background-position:100% 0}100%{background-position:200% 0}}.placeholder-paypal-express-button-container{display:block;min-height:50px;width:100%;margin-top:6px}
main.main-content .product-info__qty_container {
  .product-info__qty_container {display:none!important;}
}
main.main-content .product-info__vendor {
  .product-info__vendor {display:none!important;}
}
main.main-content .product-snippet__img-wrapper:hover .product-snippet__mask {
  opacity: 0 !important;
}
main.main-content {
  #product-select-modal {
    background: rgba(0, 0, 0, 0.6);
  }
}
</style>
<style>
  .product-snippet__img-wrapper{
    overflow: hidden !important;
  }

  .product-info__label{
    position: absolute;
    top: 0;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.2;
    z-index: 1;
  }

  .product-info__label-flag {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    right: 0;
    min-height: 30px;
    max-width: 120px;
    padding: 2px 5px 2px 14px;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 10px 50%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 10px 50%);
  }

  .product-info__label-badge {
    left: 10px;
    min-width: 40px;
    padding: 2px 5px 10px;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px),50% 100%, 0 calc(100% - 10px));
    -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px),50% 100%, 0 calc(100% - 10px));
  }

  .product-info__label-badge .product-info__save-label, .product-info__label-badge .product-info__discount-label{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2px;
  }

  .product-info__label-triangle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    right: 0;
    max-width: 108px;
    min-height: 30px;
    padding-bottom: 5px;
    transform: translateX(30%) rotate(45deg) translateZ(1px);
    transform-origin: left top;
  }

  .product-info__label-triangle div:first-child[class*=product-info__save-label]{
    display: flex;
    flex-direction: column;
  }

  @media (max-width: 576px){
    .product-info__label-flag{
      max-width: 105px;
      line-height: 1.1;
      font-size: 11px;
    }

    .product-info__label-badge{
      font-size: 11px;
    }

    .product-info__label-triangle{
      max-width: 75px;
      min-height: 20px;
      font-size: 10px;
    }
  }

  
  
  

  .product-info__label {
    color: #FFFFFF;
    background: #9B3C44;
  }
  .product-info__label-triangle {
    box-shadow: 0px -100px 0px 100px #9B3C44;
  }
</style>

<script id="recommended-art-tpl" type="text/html">
  <div class="cart__recommended-products_title xf_skin_title_font">Related product</div>
  <div class="cart__recommended-products_wrapper">
    <div class="cart__recommended-products">
      <% for(var i = 0; i < products.length; i++) { %>
        <div class="cart__recommended-product common__product-gap">
          <% include ('product_art_tpl', {product: products[i], image_size: '100%'}) %>
        </div>
      <% } %>
    </div>
  </div>
  <div class="cart__recommended-products_btn sep-font sep-font-angle-left d-none d-lg-block" style="top:45%;"></div>
  <div class="cart__recommended-products_btn sep-font sep-font-angle-right d-none d-lg-block" style="top:45%;"></div>

</script>



<script id="cart-art-tpl" type="text/html">
  <% var _LIMIT = 60; %>
  <div class="row row_cart">
    <div class="col-12 row_col">
      <% if(line_items && line_items.length == 0) { %>
        <div class="no-cart text-center">
          <div class="xf_skin_title_font no-cart__title">{{langs.bag.general.shopping_cart}}</div>
          <div class="no-cart__msg">{{langs.bag.general.empty}}</div>
          <a class="no-cart__continue btn btn-primary" href="/" data-track="cart-continue-shopping">{{langs.bag.general.continue_shopping}}</a>
        </div>
      <% } else { %>
        <div class="cart__title xf_skin_title_font text-center">{{langs.bag.general.shopping_cart}}</div>
        <div class="cart__discount-container">
        </div>
        <div class="cart__item cart__header xf_skin_title_font">
          <div class="cart__header-checkbox-wrap <% if (available_items.length == 1) { %>only_one_item<% } %>">
            <div class="cart__checkbox <% if (all_selected) { %>cart__checkbox_checked<% } %> <% if (all_unavailable) { %>cart__checkbox_disabled<% } %> <% if (available_items.length == 1) { %>cart__checkbox_hide<% } %> cart__checkbox_total d-none d-md-block">
              <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><path d="M13.695 0H2.282A2.29 2.29 0 000 2.282v11.413a2.29 2.29 0 002.282 2.283h11.413a2.29 2.29 0 002.283-2.283V2.282A2.29 2.29 0 0013.695 0zm-3.31 7.532c-1.94 2.854-3.652 6.163-3.652 6.163l-4.45-5.021 1.14-1.256 2.74 2.625s1.37-2.282 3.195-4.222c1.826-1.94 3.995-3.538 3.995-3.538l.342 1.14s-1.826 1.941-3.31 4.11z" fill="#000" fill-rule="nonzero"/></svg>
            </div>
          </div>
		  
          <span class="cart__img">{{langs.bag.general.item}}</span>
          <div class="cart__detail">
            <span class="cart__content"></span>
            <span class="cart__price text-center">{{langs.bag.general.price}}</span>
            <span class="cart__qty text-center">{{langs.bag.general.qty}}</span>
            <span class="cart__remove text-center">{{langs.bag.general.remove}}</span>
            <span class="cart__total cart__total_header">{{langs.bag.general.total}}</span>
          </div>
        </div>
		
        <form id="cart_form" action="/cart" method="post" onsubmit="return false">
          <ul style="padding:0">
            <% var count = 0 %>
            <% for(var j = 0; line_items && j < line_items.length; j++){ %>
            <% var item = line_items[j] %>
            <% var variant_id = item.variant_id; %>
            <% count += (item.available?((~~item.quantity)||0):0) ; %>
            <% var canBuy = item.available_quantity; %>
            <% var properties = $imports.JSON.parse(item.properties || "{}") %>
            <li class="cart__item <% if (item.available) { %>cart__item_enabled<% } %>" belong="<%=item.variant_id%>" data-cart-id="<%=item.id%>" data-id="<%=item.variant_id%>" data-track="item" data-track-id="<%=item.product_id%>" data-cart-id="<%=item.id%>" data-track-number="<%=item.quantity%>" data-track-price="<%=item.price%>" data-track-name="<%=item.product_title%>" data-track-type="<%=item.type%>" data-properties='<%=item.properties%>'  >
              <div
                class="cart__checkbox <% if (!item.unchecked) { %>cart__checkbox_checked<% } %> <% if (!item.available) { %>cart__checkbox_disabled<% } %>"
                data-variant-id="<%= variant_id %>"
                data-cart-id="<%= item.id %>"
              >
                <svg class="d-none d-md-block" width="16" height="16" xmlns="http://www.w3.org/2000/svg"><path d="M13.695 0H2.282A2.29 2.29 0 000 2.282v11.413a2.29 2.29 0 002.282 2.283h11.413a2.29 2.29 0 002.283-2.283V2.282A2.29 2.29 0 0013.695 0zm-3.31 7.532c-1.94 2.854-3.652 6.163-3.652 6.163l-4.45-5.021 1.14-1.256 2.74 2.625s1.37-2.282 3.195-4.222c1.826-1.94 3.995-3.538 3.995-3.538l.342 1.14s-1.826 1.941-3.31 4.11z" fill="#000" fill-rule="nonzero"/></svg>
                <svg class="d-block d-md-none" width="16" height="16" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><circle fill="#000" cx="8" cy="8" r="8"/><path d="M11.214 4.671L6.643 9.7 4.586 7.643c-.229-.229-.686-.229-.915 0-.228.228-.228.686 0 .914L6.3 11.071c.229.229.686.229.914 0l5.029-5.485c.228-.229.228-.686 0-.915-.343-.228-.8-.228-1.029 0z" fill="#FFF" fill-rule="nonzero"/></g></svg>
              </div>
                <a href="<%=item.product_url%>" class="cart__img <% if (!item.available) { %>cart__img_sold-out<% } %>" data-track-type="image" data-track-product_id="<%=item.variant_id%>" <% if (!item.available) { %>title="Sold Out"<% } %>>
                  <img alt="<%=item.product_title%>" src="<%= $imports.reset_image(item.image.src, '') %>">
                </a>
              <div class="cart__detail">
                <div class="cart__content">
                  <a class="product_title_link" href="<%=item.product_url%>"><span class="product_title xf_skin_product_title_font_family"><%=item.product_title%></span></a>
                  <div class="spec">
                    <% for(var k = 0; k < item.options.length; k++){ %>
                      <% var toggle = item.options[k].name.length + item.options[k].value.length > _LIMIT; %>
                      <% if (toggle) { %>
                        <input type="checkbox" class="text_toggle" id="text_limit_<%= j %><%= k %>" style="display: none;"/>
                      <% } %>
                      <p class="hide_cart2 item-spec-1 <% if (toggle) { %>text_toggle three_line_text_truncate<% } %>">
                        <span style="color: #212121;"><%=item.options[k].name%></span>: <%=item.options[k].value%>
                        <% if (toggle) { %><label for="text_limit_<%= j %><%= k %>"><i class="sep-font sep-font-angle-down" /></label><% } %>
                      </p>
                    <% } %>
                    <% for(var prop in properties){ %>
                      <% if (prop[0] !== '_') { %>
                        <p class="hide_cart2 item-spec-1">
                          <% if (/(\/\/.*\.(?:png|jpg|jpeg|gif|svg))/i.test(properties[prop])) { %>
                            <%=prop%>: <i class="sep-font sep-font-fujian show-modal" data-image="<%=properties[prop]%>"></i>
                          <% } else { %>
                            <%=prop%>: <%=properties[prop]%>
                          <% } %>
                        </p>
                      <% } %>
                    <% } %>
                    <div class="modal fade" id="cart-preview-image" tabindex="-1" role="dialog" aria-hidden="true">
                      <span class="hide-modal">&times;</span>
                      <div class="modal-dialog">
                        <div class="image-wrap">
                          <span class="hide-modal">&times;</span>
                          <img class="preview-image" src="" role="presentation" />
                        </div>
                      </div>
                    </div>
                  </div>
                  <% if(item.discount_off_ratio){ %>
                    <div class="cart__discount">
                      <%= item.discount_off_ratio %>% OFF
                    </div>
                  <% } %>
                </div>
                <div class="cart__price">
                  <span class="d-inline-block cart__now-price xf_skin_product_detail_price money"><%= $imports.finance_money_with_shop_symbol(item.price) %></span>
                  <% if (item.compare_at_price * 1 > item.price * 1) { %>
                  <del class="xf_skin_product_compare_at_price cart__compare-at-price xf_skin_product_detail_compare_at_price money"><%= $imports.finance_money_with_shop_symbol(item.compare_at_price) %></del>
                    <% } %>
                </div>
                <div class="cart__qty cart__qty-wrap">
                  <a href="javascript:;"  data-track="cart-minus-quantity" data-track-type="button" data-track-product_id="<%=item.variant_id%>" data-track-url="/cart/update.js" def="<%=item.variant_id%>" class="<% if (!item.available) { %>cart__counter_disabled<% } %> cart__counter cart__counter_sub counter-less" alt="-">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28" width="24" height="24" style="enable-background:new 0 0 28 28" xml:space="preserve"><path d="M15 22h8c.6 0 1 .4 1 1s-.4 1-1 1h-8c-.6 0-1-.4-1-1s.4-1 1-1z" style="fill-rule:evenodd;clip-rule:evenodd" transform="translate(-5 -9)"/></svg>
                  </a>
                  <input data-track-type="input" data-track-product_id="<%=item.variant_id%>" data-track-url="/cart/update.js" ss="<%=item.variant_id%>" class="cart__qty-input <% if (!item.available) { %>cart__qty-input_disabled<% } %>" name="update[<%=item.variant_id%>]" count="<%=item.variant_id%>" def="<%=item.variant_id%>" type="number" step="1" value="<%=item.quantity%>" min="1" max="<%=canBuy%>" />
                  <a href="javascript:;" data-track="cart-add-quantity" data-track-type="button" data-track-product_id="<%=item.variant_id%>" data-track-url="/cart/update.js" def="<%=item.variant_id%>" class="<% if (!item.available) { %>cart__counter_disabled<% } %> cart__counter cart__counter_sub counter-add <% if (item.quantity >= canBuy) { %>cart__counter_disabled<% } %>" alt="+" max="<%=canBuy%>">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28" width="24" height="24" style="enable-background:new 0 0 28 28" xml:space="preserve"><path d="M19 14.7c.6 0 1 .4 1 1v3h3c.6 0 1 .4 1 1s-.4 1-1 1h-3v3c0 .6-.4 1-1 1s-1-.4-1-1v-3h-3c-.6 0-1-.4-1-1s.4-1 1-1h3v-3c0-.6.4-1 1-1z" style="fill-rule:evenodd;clip-rule:evenodd" transform="translate(-5 -5)"/></svg>
                  </a>
                </div>
                <div class="cart__remove">
                  <a href="javascript:;"><i def="<%=item.variant_id%>" data-track="cart-delete-item" data-track-type="image" data-track-product_id="<%=item.variant_id%>" class="sep-font sep-font-close-circle-thin" ></i></a>
                </div>
                <div class="cart__total counter-value xf_skin_product_detail_price money"><%= $imports.finance_money_with_shop_symbol(item.line_price) %></div>
              </div>
            </li>
            <% } %>
        </ul>
        </form>

        <div class="cart__submit">
          <div class="cart__checkout_wrapper">
            <div class="cart__total-price-wrapper">
              <div class="cart__sub-total">{{langs.bag.general.subtotal}}</div>
              <div class="cart__total-price xf_skin_product_detail_price money"><%= $imports.finance_money_with_shop_symbol(line_price) %></div>
              <div class="cart__original-price xf_skin_product_detail_compare_at_price" data-section-id="header_plus" style="<% if ($imports.Number(line_price) >= original_total_price) { %>display:none;<% } %>"><del class="xf_skin_product_compare_at_price money"><%= $imports.finance_money_with_shop_symbol(original_total_price) %></del></div>
            </div>
            <% if (discount_line_item_price > 0) { %>
              <div class="cart__total-price-wrapper">
                <div class="cart__sub-total">{{langs.bag.general.discount}}</div>
                <div class="xf_skin_product_detail_price">-<span class="cart__total-price money"><%= $imports.finance_money_with_shop_symbol(discount_line_item_price) %></span></div>
              </div>
            <% } %>
			

            <% for(var i=0,l=(discount_applications||[]).length; i<l; i++) { %>
              <% var app = discount_applications[i]; if (app.value_type == "buy_x_get_y" || app.value_type == "fixed_price") { %>
                <div class="cart__total-price-wrapper free-gift w-full" data-discount-id="<%= app.discount_id %>">
                  <div class="free-gift__header d-flex flex-row justify-content-between align-items-center">
                    <div class="cart__sub-total"><%= app.title %></div>
                    <div class="d-flex flex-row align-items-center">
                      <div class="xf_skin_product_detail_price">-<span class="cart__total-price money"><%= $imports.finance_money_with_shop_symbol(app.discount_amount) %></span></div>
                      <% if (app.value_type == "buy_x_get_y") { %>
                        <i class="sep-font sep-font-angle-down-fill"></i>
                      <% } %>
                    </div>
                  </div>
                  <div class="free-gift__content"></div>
                </div>
              <% } %>
            <%}%>
            <div class="cart__total-price-wrapper plugin__bundle__cart__save" style="display:none"></div>
            <hr classs="cart__hr"/>
            <div class="cart__total-price-wrapper cart__total-price-wrapper_last">
              <div class="cart__checkbox <% if (all_selected) { %>cart__checkbox_checked<% } %> <% if (all_unavailable) { %>cart__checkbox_disabled<% } %> <% if (available_items.length == 1) { %>cart__checkbox_hide cart_modal_icon_hide<% } %> cart__checkbox_total d-block d-md-none">
                <svg class="d-none d-md-block" width="16" height="16" xmlns="http://www.w3.org/2000/svg"><path d="M13.695 0H2.282A2.29 2.29 0 000 2.282v11.413a2.29 2.29 0 002.282 2.283h11.413a2.29 2.29 0 002.283-2.283V2.282A2.29 2.29 0 0013.695 0zm-3.31 7.532c-1.94 2.854-3.652 6.163-3.652 6.163l-4.45-5.021 1.14-1.256 2.74 2.625s1.37-2.282 3.195-4.222c1.826-1.94 3.995-3.538 3.995-3.538l.342 1.14s-1.826 1.941-3.31 4.11z" fill="#000" fill-rule="nonzero"/></svg>
                <svg class="d-block d-md-none" width="16" height="16" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><circle fill="#000" cx="8" cy="8" r="8"/><path d="M11.214 4.671L6.643 9.7 4.586 7.643c-.229-.229-.686-.229-.915 0-.228.228-.228.686 0 .914L6.3 11.071c.229.229.686.229.914 0l5.029-5.485c.228-.229.228-.686 0-.915-.343-.228-.8-.228-1.029 0z" fill="#FFF" fill-rule="nonzero"/></g></svg>
              </div>
              <div class="cart__sub-total">{{langs.bag.general.total}}</div>
              <div class="cart__total-price plugin__bundle__cart__total-price xf_skin_product_detail_price money"><%= $imports.finance_money_with_shop_symbol(total_price) %></div>
            </div>			
            <div class="cart__submit-tip">{{langs.bag.general.shipping_taxes | t: currency : shop.currency }}</div>
            <button href="javascript:;" data-track="checkout-submit" class="btn btn-primary xf_skin_title_font cart__checkout <% if (count==0 || selected_count==0) { %>cart__checkout_disabled<% } %>"  <% if (count==0) { %>disabled<% } %> >{{langs.bag.general.check_out}}</button>
			{% if paypal_btn_show %}
				<div class="placeholder-paypal-express-button-container"></div>
			{% endif %}
          </div>
          
            <div class="cart__recommended">
            </div>
          
        </div>

      <% } %>
    </div>
  </div>
</script>

<script> try { 
var cartObj = {{cart|json}};
cartObj.payment_settings = {};
cartObj.settings = {{settings|json}};
cartObj.section = [];
 } catch (e) {console.log(e);} 


{% if settings.is_paypal_btn_show %}
$.getJSON(base_url+'payment/get_pp_account?s=cart&k='+key_o+'&t={{cart.total_price}}',function(res){
	if(res.code == 1){
		var paypal_style = pp_style();
		paypal_style.shape = 'rect';
		paypal_style.size = 'medium';
		paypal_style.height = 50;
		paypal_style.label = 'checkout';
		var formData = new FormData();
		formData.append('key_o', key_o);
		formData.append('source', 'checkout_pp');
		load_pp_btn({render_btn:'.placeholder-paypal-express-button-container',burl:base_url,okey:key_o,env:res.data.env,client_id:res.data.client_id,intent:res.data.intent,style:paypal_style,currency_code:cur_code,funding:'all'},formData,res.data.mchid);
	}else if(res.code == 2){
		$('.placeholder-paypal-express-button-container').html(res.html);
	}else{
		$('.placeholder-paypal-express-button-container').remove();
	}
});
{% endif %}
 
</script>
