<div class="slider-content" style="background:{{settings.skin_bg}}">
  <div class="slider-wrapper" data-track="product" data-track-id="{{product.id}}" data-track-price="{{product.price}}" data-track-name="{{product.title | escape}}" data-track-type="{{product.type}}">
    <div class="slider-content__top">
      <div class="slider-content__wrapper">
        <a {% unless product.isMock %}href="{{ product.url }}"{% endunless %} class="slider-content__title xf_skin_title_font two_line_text_truncate">{{ product.title }}</a>
        {% if is_price_show %}
          <span class="text-truncate xf_skin_product_detail_price slider-content__price money">
            {{ product.price | money_with_symbol }}
          </span>
        {% endif %}
        <del class="text-truncate xf_skin_product_compare_at_price slider-content__compare-at-price money">
          {{ product.compare_at_price | money_with_symbol }}
        </del>
      </div>
      <div class="product-info__vendor xf_skin_product_list_title slider-content__vendor">{{ product.vendor }}</div>
      {% if product.brief != '' %}
        <div class="slider-content__desc xf_skin_text three_line_text_truncate">{{ product.brief }}</div>
      {% endif %}
    </div>
    {% if button_label %}
      <div class="slider-content__btn-wrapper">
        {% if product.available %}
          <a {% unless product.isMock %}href="{{ product.url }}"{%else%}data-product-mock="true"{% endunless %} class="btn btn-primary slider-content__btn">
            {{ button_label | escape }}
          </a>
        {% else %}
          <button type="button" class="btn btn-primary " disabled="">{{ langs.general.product.sold_out }}</button>
        {% endif %}
      </div>
    {% endif %}
  </div>
</div>
