<style>
  {% comment %} .reveal_slide_{{section.id}} .content_title{
    color: {{section.settings.title_color}};
  }

  .reveal_slide_{{section.id}} .content_slide {
    background: {{section.settings.text_bg}};
  } {% endcomment %}

  .reveal_slide_{{section.id}} .reveal_slide__content_desc {
    color: {{section.settings.desc_color}};
  }

  .reveal_slide_{{section.id}} .reveal_slide__content_btn {
    background: {{section.settings.btn_bg}};
    color: {{section.settings.btn_color}};
  }

</style>
<style>.reveal_slide {
  height: calc(100vh - 41px);
  display: flex;
  justify-content: space-between; }
  .reveal_slide__single {
    justify-content: center; }
  .reveal_slide__item {
    height: 100%;
    display: none;
    position: relative; }
  .reveal_slide__img {
    width: 100%;
    height: 50%;
    overflow: hidden;
    position: relative;
    background: #fff; }
    .reveal_slide__img_bg {
      position: absolute;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: 50% 0%;
      transition: transform 1s ease-out; }
      @media (max-width: 767.98px) {
        .reveal_slide__img_bg.pc_reveal {
          display: none; } }
      @media (min-width: 768px) {
        .reveal_slide__img_bg.mobile_reveal {
          display: none; } }
      .reveal_slide__img_bg.reveal {
        transform: scale(1.1); }
    .reveal_slide__img_reveal {
      position: absolute;
      background: #fff;
      top: 0;
      left: -1px;
      right: -1px;
      height: 100%; }
  .reveal_slide__left, .reveal_slide__right, .reveal_slide__current {
    display: block;
    align-items: center;
    position: relative; }
  .reveal_slide__left, .reveal_slide__right {
    flex: 0 0 10vw;
    overflow: hidden; }
    .reveal_slide__left .reveal_slide__img_bg, .reveal_slide__right .reveal_slide__img_bg {
      cursor: pointer; }
  .reveal_slide__pagination {
    position: absolute;
    white-space: nowrap;
    font-size: 18px;
    opacity: 0; }
  .reveal_slide__left {
    order: 1; }
    .reveal_slide__left .reveal_slide__img {
      position: absolute;
      top: 27%; }
    .reveal_slide__left .reveal_slide__pagination {
      font-size: 18px;
      top: 77%;
      right: 15px;
      transform-origin: 100% 100%;
      transform: rotate(-90deg); }
  .reveal_slide__right {
    order: 3; }
    .reveal_slide__right .reveal_slide__img {
      position: absolute;
      top: 17%; }
    .reveal_slide__right .reveal_slide__pagination {
      top: 70%;
      left: 5px;
      transform-origin: 100% 0%;
      transform: translateX(-100%) rotate(-90deg); }
    .reveal_slide__right_notice {
      position: absolute;
      white-space: nowrap;
      font-size: 18px; }
  .reveal_slide__current {
    order: 2;
    flex: 0 0 50vw; }
    .reveal_slide__current .reveal_slide__img {
      height: 100%; }
    .reveal_slide__current .reveal_slide__content {
      display: flex; }
  .reveal_slide__content {
    position: absolute;
    top: 50%;
    right: 50%;
    text-align: left;
    transform: translateY(-50%);
    display: none;
    flex-direction: column;
    align-items: flex-end; }
    .reveal_slide__content_title {
      max-width: calc(40vw - 20px);
      position: relative;
      overflow: hidden;
      font-size: 3.625rem;
      line-height: 81px;
      padding: 0 10px;
      margin-bottom: 0.25rem; }
    .reveal_slide__content_brief {
      max-width: calc(40vw - 40px);
      position: relative;
      line-height: 54px;
      font-size: 1.875rem;
      padding: 0 10px;
      margin-bottom: 1.25rem;
      overflow: hidden; }
    .reveal_slide__content_desc {
      max-width: calc(25vw - 20px);
      text-align: right;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
      font-size: 1.125rem;
      line-height: 1.3;
      margin-bottom: 50px; }
    .reveal_slide__content_btn {
      max-width: 28.75vw;
      line-height: 1.5;
      font-size: 16px;
      position: relative;
      top: 16px;
      opacity: 0; }
    .reveal_slide__content .content_title {
      position: relative;
      right: 100%;
      opacity: 0;
      color: #fff;
      overflow: hidden;
      white-space: nowrap; }
    .reveal_slide__content .content_slide {
      position: absolute;
      top: 0;
      left: 0;
      right: 100%;
      height: 100%;
      z-index: -1;
      opacity: 0;
      background: #000; }

@media (max-width: 767.98px) {
  .reveal_slide {
    display: block;
    position: relative;
    margin-top: -53px; }
    .reveal_slide__item {
      display: none; }
    .reveal_slide__current {
      display: block;
      width: 100%;
      height: 100%;
      position: relative; }
      .reveal_slide__current .reveal_slide__img_bg {
        background-size: auto 100%; }
      .reveal_slide__current .reveal_slide__img {
        height: 50%; }
      .reveal_slide__current .reveal_slide__content {
        display: flex;
        position: relative;
        align-items: center;
        text-align: center;
        transform: none;
        top: unset;
        right: unset;
        padding: 1.25rem; }
        .reveal_slide__current .reveal_slide__content_title {
          font-size: 1.25rem;
          max-width: 100%;
          line-height: 1.2;
          padding: 0;
          margin-bottom: 5%; }
          .reveal_slide__current .reveal_slide__content_title .content_slide {
            display: none; }
        .reveal_slide__current .reveal_slide__content_brief {
          font-size: 1.125rem;
          max-width: 100%;
          line-height: 1.2;
          padding: 0;
          margin-bottom: 5%; }
          .reveal_slide__current .reveal_slide__content_brief .content_slide {
            display: none; }
        .reveal_slide__current .reveal_slide__content_desc {
          max-width: 100%;
          text-align: center;
          margin-bottom: 5%;
          -webkit-line-clamp: 4;
          font-size: 1.125rem; }
        .reveal_slide__current .reveal_slide__content_btn {
          max-width: 100%;
          position: unset; }
        .reveal_slide__current .reveal_slide__content .content_title {
          color: #000;
          position: unset; }
    .reveal_slide__left, .reveal_slide__right {
      display: block;
      position: absolute;
      width: 25%;
      height: 50%;
      z-index: 1;
      top: 0; }
      .reveal_slide__left .reveal_slide__img, .reveal_slide__right .reveal_slide__img {
        top: 0; }
    .reveal_slide__img {
      height: 100%; }
      .reveal_slide__img_bg {
        background-position: 50% 50%;
        backface-visibility: hidden; }
    .reveal_slide__left {
      left: 0; }
    .reveal_slide__right {
      right: 0; }
    .reveal_slide__pagination {
      display: none; } }
</style>

<div class="reveal_slide reveal_slide_{{section.id}} {% if section.blocks.size == 1 %}reveal_slide__single{% endif %}">
  {% if section.blocks.size > 0%}
    {% for block in section.blocks %}
      {% include 'default_image_3'%}
      {% assign pcSrc = block.settings.src %}
      {% assign mobileSrc = block.settings.mobile_src %}
      {% if pcSrc == '' %}
        {% assign pcSrc = defaultImage %}
      {% endif %}
      {% if mobileSrc == '' %}
        {% assign mobileSrc = pcSrc %}
      {% endif %}
      {% include 'reveal_item', pcSrc: pcSrc, mobileSrc: mobileSrc, title: block.settings.title, brief: block.settings.brief,        desc: block.settings.desc,        btn_text: block.settings.btn_text,        url: block.settings.url.url,        url_type: block.settings.url.type %}
      {% if section.blocks.size == 2 and forloop.index == 2 %}
        {% include 'reveal_item',pcSrc: pcSrc,mobileSrc: mobileSrc,          title: block.settings.title,          brief: block.settings.brief,          desc: block.settings.desc,          btn_text: block.settings.btn_text,          url: block.settings.url.url,          url_type: block.settings.url.type,          class: 'reveal_slide__left'        %}
      {% endif %}
    {% endfor %}
  {% else %}
    {% for i in (0..2) %}
      {% include 'default_image_3'%}
      {% include 'reveal_item',pcSrc: defaultImage,        mobileSrc: defaultImage,title: 'Hero Banner',brief: 'An introductory',        desc: 'Use this text to share information about your brand with your customers. Describe a product,share announcements, or welcome customers to your store.',        btn_text: 'Shop Now',        url: ''      %}
    {% endfor %}
  {% endif %}
</div>

{% javascript %}
  $(function () {
    var RevealSlide = function(wrapper, length) {
      this.selectors = {
        wrapper: wrapper,
        singleClass: 'reveal_slide__single',
        item: '.reveal_slide__item',
        title: '.reveal_slide__content_title',
        brief: '.reveal_slide__content_brief',
        desc: '.reveal_slide__content_desc',
        current: '.reveal_slide__current',
        next: '.reveal_slide__right',
        prev: '.reveal_slide__left',
        btn: '.reveal_slide__content_btn',
        bg_reveal: '.reveal_slide__img_reveal',
        pagination: '.reveal_slide__pagination',
        bg: '.reveal_slide__img_bg',
        bg_wrapper: '.reveal_slide__img',
        content_title: '.content_title',
        content_slide: '.content_slide',
        right_notice: '.reveal_slide__pagination_right',
        left_notice: '.reveal_slide__pagination_left'
      };
      this.text = {
        right: 'Next Page',
        left: 'Previous Page'
      };
      this.$container = $(wrapper);
      this.$items = $([wrapper, this.selectors.item].join(' '));
      if (length === 2) {
        this.virtual = true;
      }
      this.state = {
        isAnimating: true,
        currentIndex: 0,
        length: this.$items.length
      };
      this.init();
    };
    RevealSlide.prototype = {
      init: function() {
        $('.reveal_slide__img_bg.pc_reveal').attr('data-sizes', $('.reveal_slide__img').width() + 'px')
        $('.reveal_slide__img_bg.mobile_reveal').attr('data-sizes', $('.reveal_slide__img').width() + 'px')
        $('.reveal_slide__img_bg[data-sizes]').addClass('lazyload')
        this.bindEvents();
        var that = this;
        this.clearClass();
        this.show('next').then(function () {
          that.state.isAnimating = false;
        });
        this.updateTransform();
        $(window).on('resize',function () {
          that.updateTransform();
        })
      },
      clearClass: function () {
        this.$items.removeClass(this.selectors.current.replace('.', ''));
        this.$items.removeClass(this.selectors.next.replace('.', ''));
        this.$items.removeClass(this.selectors.prev.replace('.', ''));
        this.$container.find('[data-action]').removeAttr('data-action');
      },
      getCurrent: function(name) {
        var current = this.$items.eq(this.state.currentIndex);
        return name ? current.find(this.selectors[name]) : current;
      },
      select: function(name) {
        return name && this.$container.find(this.selectors[name]);
      },
      nextIndex: function() {
        return this.state.currentIndex === this.state.length - 1 ? 0 : this.state.currentIndex + 1;
      },
      getNext: function(name) {
        var next = this.$items.eq(this.nextIndex());
        return name ? next.find(this.selectors[name]) : next;
      },
      prevIndex: function() {
        return this.state.currentIndex === 0 ? this.state.length - 1 : this.state.currentIndex - 1;
      },
      getPrev: function(name) {
        var prev = this.$items.eq(this.prevIndex());
        return name ? prev.find(this.selectors[name]) : prev;
      },
      show: function(mode) {
        if (this.state.length > 1) {
          this.getNext().addClass(this.selectors.next.replace('.', ''));
          this.getNext('bg').attr('data-action', 'next');
          this.getPrev().addClass(this.selectors.prev.replace('.', ''));
          this.getPrev('bg').attr('data-action', 'prev');
        }
        this.getCurrent().addClass(this.selectors.current.replace('.', ''));
        return $.when(this.bgToggle(mode), this.titleToggle(), this.btnToggle(), this.noticeToggle());
      },
      leave: function(mode) {
        return $.when(this.titleToggle(true), this.noticeToggle(true), this.btnToggle(true), this.bgToggle(mode, true));
      },
      refreshDom: function(index, mode) {
        this.clearClass();
        this.virtual && this.changeDom(mode);
        this.state.currentIndex = index;
      },
      changeDom: function (mode) {
        if (mode === 'next') {
          this.getPrev().html(this.getCurrent().html());
        } else {
          this.getNext().html(this.getCurrent().html());
        }
      },
      titleToggle: function(hide) {
        var that = this;
        var title = this.getCurrent('title');
        var brief = this.getCurrent('brief');
        var speed = hide ? 200 : 400;
        var delay = 100;
        var dtds = [$.Deferred(), $.Deferred(), $.Deferred(), $.Deferred()];
        var leftHide = {
          right: '100%',
          opacity: 0,
          left: 'unset'
        };
        var rightHide = {
          right: 'unset',
          left: '100%',
          opacity: 0
        };
        var show = {
          right: '0%',
          opacity: 1,
          left: 0
        };
        var start = hide ? show : leftHide;
        var end = hide ? rightHide : show;
        [
          {
            wrap: title.find(that.selectors.content_slide),
            delay: hide ? speed : 0
          },
          {
            wrap: title.find(that.selectors.content_title),
            delay: hide ? 0 : delay
          },
          {
            wrap: brief.find(that.selectors.content_slide),
            delay: hide ? 1.5 * speed : speed / 2
          },
          {
            wrap: brief.find(that.selectors.content_title),
            delay: hide ? speed / 2 : speed / 2 + delay
          }
        ].forEach(function(item, index) {
          setTimeout(function() {
            if (item.wrap.length === 0) {
              dtds[index].resolve();
              return;
            }
            item.wrap.css(start);
            item.wrap.animate(end, speed, function() {
              dtds[index].resolve();
            });
          }, item.delay);
        });
        return $.when(dtds[0], dtds[1], dtds[2], dtds[3]);
      },
      noticeToggle: function (hide) {
        if (this.state.length === 1) {
          return false;
        }
        var $next = this.getNext('pagination');
        var $prev = this.getPrev('pagination');
        var speed = hide ? 300 : 500;
        var dtds = [$.Deferred(), $.Deferred()];
        [
          {
            wrap: $next,
            text: this.text.right,
            start: {
              opacity: hide ? 1 : 0,
              left: hide ? 0 : 5,
              right: 'unset',
            },
            end: {
              opacity: hide ? 0 : 1,
              left: hide ? -5 : 0,
              right: 'unset',
            },
            speed: 500
          },
          {
            wrap: $prev,
            text: this.text.left,
            start: {
              opacity: hide ? 1 : 0,
              right: hide ? 10 : 15,
              left: 'unset'
            },
            end: {
              opacity: hide ? 0 : 1,
              right: hide ? 5 : 10,
              left: 'unset'
            },
            speed: 500
          }
        ].forEach(function (item, index) {
          item.wrap.text(item.text);
          item.wrap.css(item.start);
          item.wrap.animate(item.end, speed, function () {
            dtds[index].resolve();
          })
        });
        return $.when(dtds[0], dtds[1]);
      },
      bgToggle: function(mode, hide) {
        mode = mode || 'next';
        var classFunc = hide ? 'removeClass' : 'addClass';
        hide = hide ? 'hide' : 'show';
        var str = mode + hide;
        var speed = 300;
        var delay = 200;
        var start = {
          nexthide: '100%',
          nextshow: '0%',
          prevhide: '-100%',
          prevshow: '0%'
        };
        var end = {
          nexthide: '0%',
          nextshow: '-100%',
          prevhide: '0%',
          prevshow: '100%'
        };
        var dtds = [$.Deferred(), $.Deferred(), $.Deferred()];
        var that = this;
        [
          {
            key: 'getPrev',
            delay: mode === 'prev' ? 0 : delay,
          },
          {
            key: 'getCurrent',
            delay: delay / 2
          },
          {
            key: 'getNext',
            delay: mode === 'next' ? 0 : delay
          }
        ].forEach(function(item, index) {
          setTimeout(function() {
            that[item.key]('bg_reveal').css({top: start[str]});
            that[item.key]('bg')[classFunc]('reveal');
            that[item.key]('bg_reveal').animate(
              {
                top: end[str]
              },
              speed,
              function() {
                dtds[index].resolve();
              }
            );
          }, item.delay);
        });
        return $.when(dtds[0], dtds[1], dtds[2]);
      },
      btnToggle: function(hide) {
        var dtd = $.Deferred();
        var css = {
          top: hide ? 16 : 0,
          opacity: hide ? 0 : 1
        };
        var speed = hide ? 200 : 600;
        var delay = hide ? 200 : 0;
        var that = this;
        setTimeout(function() {
          var $btn = that.getCurrent('btn');
          if ($btn.length === 0) {
            dtd.resolve();
            return;
          }
          $btn.animate(css, speed, function() {
            dtd.resolve();
          });
        }, delay);

        return dtd;
      },
      next: function() {
        if (this.state.isAnimating) {
          return false;
        }
        this.state.isAnimating = true;
        var that = this;
        this.leave('next').then(function() {
          var currentIndex = that.state.currentIndex;
          var len = that.state.length;
          currentIndex = currentIndex === len - 1 ? 0 : currentIndex + 1;
          that.refreshDom(currentIndex, 'next');
          that.show('next').then(function () {
            that.state.isAnimating = false;
          });
        });
      },
      prev: function() {
        var that = this;
        if (this.state.isAnimating) {
          return false;
        }
        this.state.isAnimating = true;
        this.leave('prev').then(function () {
          var currentIndex = that.state.currentIndex;
          currentIndex = currentIndex === 0 ? that.state.length - 1 : currentIndex - 1;
          that.refreshDom(currentIndex, 'prev');
          that.show('prev').then(function () {
            that.state.isAnimating = false;
          });
        })
      },
      bindEvents: function() {
        var that = this;
        if (this.$items.length === 1){
          return false;
        }
        this.$container.on('click', function(e) {
          var action = e.target.dataset.action;
          action && that[action] && that[action].call(that, e);
        });
      },
      updateTransform: function () {
        if ($(this.$container.parent().prevAll('.xfcart-section')[0]).find('.header_plus').length > 0) {
          // 上一个卡片是header2,需要位移
          var height = $('#xfcart-section-header_plus').outerHeight() + $('.plugin__fixed-div').outerHeight() + $('.plugin__static-div').outerHeight() - $('.fast-bar').outerHeight();
          this.$container.css({
            marginTop: '-' + height + 'px'
          })
        } else {
          this.$container.css({
            marginTop: 0
          })
        }
      }
    };
    window.RevealSlide = RevealSlide;
    new window.RevealSlide('.reveal_slide_{{section.id}}', {{section.blocks.size}});
  });
{% endjavascript %}

{% schema %}
{
  "name": "reveal_slide",
  "max_blocks": 10,
  "settings": [
    {
      "type": "header",
      "content": {
        "en-US": "Settings",
        "zh-CN": "设置"
      }
    },
    {
      "type": "color",
      "id": "desc_color",
      "default": "#000000",
      "label": {
        "en-US": "Description text",
        "zh-CN": "描述文案"
      }
    },
    {
      "type": "color",
      "id": "btn_color",
      "default": "#ffffff",
      "label": {
        "zh-CN": "按钮文案",
        "en-US": "Button text"
      }
    },
    {
      "type": "color",
      "id": "btn_bg",
      "default": "#000000",
      "label": {
        "zh-CN": "按钮背景",
        "en-US": "Button background"
      }
    },
    {
      "type": "header",
      "content": {
        "en-US": "Content",
        "zh-CN": "内容"
      }
    }
  ],
  "blocks": [
    {
      "type": "banner",
      "name": {
        "zh-CN": "banner广告图",
        "en-US": "Banner image"
      },
      "settings": [
        {
          "type": "image_picker",
          "id": "src",
          "label": {
            "en-US": "Desktop image",
            "zh-CN": "PC端图片"
          },
          "info": {
            "en-US": "Recommended resolution: 1440*1640px",
            "zh-CN": "建议尺寸：1440*1640 px"
          }
        },
        {
          "type": "image_picker",
          "id": "mobile_src",
          "label": {
            "en-US": "Mobile image",
            "zh-CN": "移动端图片"
          },
          "info": {
            "en-US": "Recommended resolution: 748*1336px",
            "zh-CN": "建议尺寸：748*1336 px"
          }
        },
        {
          "type": "text",
          "id": "title",
          "label": {
            "en-US": "Heading",
            "zh-CN": "标题"
          },
          "default": "Hero Banner",
          "placeholder": {
            "zh-CN": "输入标题",
            "en-US": "Input heading"
          }
        },
        {
          "type": "text",
          "id": "brief",
          "label": {
            "en-US": "Subheading",
            "zh-CN": "副标题"
          },
          "default": "An introductory",
          "placeholder": {
            "en-US": "Input subheading",
            "zh-CN": "输入副标题"
          }
        },
        {
          "type": "textarea",
          "id": "desc",
          "placeholder": {
            "zh-CN": "输入文本内容",
            "en-US": "Input text"
          },
          "label": {
            "zh-CN": "描述",
            "en-US": "Description"
          },
          "default": "Use this text to share information about your brand with your customers. Describe a product,share announcements,or welcome customers to your store."
        },
        {
          "type": "text",
          "id": "btn_text",
          "label": {
            "en-US": "Button text",
            "zh-CN": "按钮文字"
          },
          "default": "Shop now"
        },
        {
          "type": "url",
          "id": "url",
          "label": {
            "en-US": "Link",
            "zh-CN": "链接"
          },
          "is_image_link": true
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "reveal_slide",
      "cname": {
        "en-US": "Magazine image",
        "zh-CN": "杂志图片"
      },
      "category": {
        "en-US": "Material",
        "zh-CN": "素材"
      },
      "ccategory": {
        "en-US": "Material",
        "zh-CN": "素材"
      },
      "icon": "/themes/theme1/assets/image/44613f1sd54f.svg",
      "display": true,
      "blocks": [
        {
          "type": "banner",
          "name": {
            "zh-CN": "banner广告图",
            "en-US": "Banner image"
          },
          "settings": {
            "src": "",
            "mobile_src": "",
            "title": "Hero Banner",
            "brief": "An introductory",
            "desc": "Use this text to share information about your brand with your customers. Describe a product,share announcements,or welcome customers to your store.",
            "btn_text": "Shop now",
            "url": ""
          }
        },
        {
          "type": "banner",
          "name": {
            "zh-CN": "banner广告图",
            "en-US": "Banner image"
          },
          "settings": {
            "src": "",
            "mobile_src": "",
            "title": "Hero Banner",
            "brief": "An introductory",
            "desc": "Use this text to share information about your brand with your customers. Describe a product,share announcements,or welcome customers to your store.",
            "btn_text": "Shop now",
            "url": ""
          }
        },
        {
          "type": "banner",
          "name": {
            "zh-CN": "banner广告图",
            "en-US": "Banner image"
          },
          "settings": {
            "src": "",
            "mobile_src": "",
            "title": "Hero Banner",
            "brief": "An introductory",
            "desc": "Use this text to share information about your brand with your customers. Describe a product,share announcements,or welcome customers to your store.",
            "btn_text": "Shop now",
            "url": ""
          }
        }
      ]
    }
  ]
}
{% endschema %}