<style>@media (max-width: 767.98px) {
  .video-text__video {
    margin-bottom: 1.25rem;
    order: 0; } }

@media (min-width: 768px) {
  .video-text__video {
    padding-left: 0;
    padding-right: 0; } }

.video-text__video_wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  background: #f7f7f7; }
  .video-text__video_wrapper-iframe {
    position: absolute;
    width: 100%;
    height: 100%; }
  .video-text__video_wrapper-default {
    position: absolute;
    width: 100%; }

@media (max-width: 767.98px) {
  .video-text__text {
    order: 1;
    text-align: center; } }

.video-text__text_title {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1.25rem; }
  @media (min-width: 768px) {
    .video-text__text_title {
      font-size: 1.875rem;
      margin-bottom: 1.5rem; } }

.video-text__text__desc {
  font-size: 0.875rem; }

@media (min-width: 768px) {
  .video-text__text {
    padding-left: 0;
    padding-right: 10%; } }
</style>
{% assign defaultImage = '/themes/theme1/assets/image/14e65afe57a9.jpg' | img_url %}
<div class="video-text container container-gap">
  <div class="row">
    <div class="col-12 col-md-6 video-text__text d-flex flex-column justify-content-center">
      {% if section.settings.video_title %}
        <h1 class="xf_skin_title_font video-text__text_title">{{section.settings.video_title | escape}}</h1>
      {% endif %}
      {% if section.settings.video_desc %}
        <div class="xf-mce-view xf_skin_text video-text__text_desc">{{section.settings.video_desc}}</div>
      {% endif %}
    </div>
    <div class="col-12 col-md-6 video-text__video d-flex align-items-center">
      <div class="video-text__video_wrapper">
        <img class="video-text__video_wrapper-default" src="{{defaultImage}}"/>
      </div>
    </div>
  </div>
</div>


{% javascript %}

$(function () {
  var videoId = $.getYoutubeId('{{section.settings.video_url}}');
  videoId && $('[data-section-id="{{section.id}}"] .video-text__video_wrapper').html('<iframe title="" class="video-text__video_wrapper-iframe" src="https://www.youtube.com/embed/' + videoId + '?rel=0&modestbranding=1&autoplay='+ 0 + '" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>');
})
{% endjavascript %}

{% schema %}
{
  "name": "video_text",
  "settings": [
    {
      "type": "header",
      "content": {
        "zh-CN": "视频链接",
        "en-US": "Video link"
      }
    },
    {
      "type": "video_url",
      "id": "video_url",
      "placeholder": {
        "en-US": "Paste Youtube video link",
        "zh-CN": "粘贴Youtube视频链接,仅支持Youtube视频"
      },
      "label": {
        "zh-CN": "视频地址",
        "en-US": "Video link"
      },
      "default": ""
    },
    {
      "type": "header",
      "content": {
        "en-US": "Text",
        "zh-CN": "文本"
      }
    },
    {
      "type": "text",
      "id": "video_title",
      "label": {
        "en-US": "Heading",
        "zh-CN": "标题"
      },
      "placeholder": {
        "en-US": "Video title",
        "zh-CN": "视频标题"
      },
      "default": "Video Here"
    },
    {
      "type": "richtext",
      "id": "video_desc",
      "label": {
        "en-US": "Text",
        "zh-CN": "正文"
      },
      "placeholder": {
        "zh-CN": "输入文本内容",
        "en-US": "Input text"
      },
      "default": "<p><span>Use this text to share information about your brand with your customers. Describe a product,share announcements,or welcome customers to your store.</span></p>"
    }
  ],
  "presets": [
    {
      "name": "video_text",
      "cname": {
        "en-US": "Text video",
        "zh-CN": "文本视频"
      },
      "category": {
        "en-US": "Material",
        "zh-CN": "素材"
      },
      "ccategory": {
        "en-US": "Material",
        "zh-CN": "素材"
      },
      "display": true,
      "blocks": []
    }
  ]
}
{% endschema %}