{% if forloop.index == 1 %}
  {% assign className = 'reveal_slide__current' %}
{% elsif forloop.index == 2 %}
  {% assign className = 'reveal_slide__right' %}
{% else if forloop.index == forloop.length %}
  {% assign className = 'reveal_slide__left' %}
{% else %}
  {% assign className = '' %}
{% endif %}

{% if class != '' %}
  {% assign className = class %}
{% endif %}

<div class="reveal_slide__item {{className}}">
  <div class="reveal_slide__img">
    <div class="reveal_slide__img_bg pc_reveal lazyload"
      title="{{ title | escape }}"
      data-bgset="{% include 'bgset', image: pcSrc %}"
      data-sizes="auto">
    </div>
    <div class="reveal_slide__img_bg mobile_reveal lazyload"
      title="{{ title | escape }}"
      data-bgset="{% include 'bgset', image: mobileSrc %}"
      data-sizes="auto">
    </div>
    <div class="reveal_slide__img_reveal"></div>
  </div>

  <div class="reveal_slide__content">
    {% if title != '' %}
      <h3 class="reveal_slide__content_title xf_skin_title_font_family">
        <div class="reveal_slide__content_title-slide content_slide"></div>
        <div class="reveal_slider__content_title-wrap content_title">
          {{title | escape}}
        </div>
      </h3>
    {% endif %}

    {% if brief != '' %}
      <h4 class="reveal_slide__content_brief xf_skin_title_font_family">
        <div class="reveal_slide__content_brief-slide content_slide">
        </div>
        <div class="reveal_slide__content_brief-wrap content_title">
          {{brief | escape}}
        </div>
      </h4>
    {% endif %}

    {% if desc != '' %}
      <div class="reveal_slide__content_desc xf_skin_text_font_family">
        {{desc | escape}}
      </div>
    {% endif %}

    {% if btn_text != '' and url != '' %}
      <a {% if url_type == 'web' %}target="_blank"{% endif %} {% if url %}href="{{url}}"{% endif %} class="btn reveal_slide__content_btn two_line_text_truncate">
        {{btn_text | escape}}
      </a>
    {% endif %}
  </div>

  <div class="reveal_slide__pagination xf_skin_text_font_family"></div>
</div>