{% assign padding_top = section.settings.padding.top | default: "0" %}
{% assign padding_bottom = section.settings.padding.bottom | default: "0" %}
{% if section.settings.padding.right == blank and section.settings.padding.left == blank %}
  {% assign padding_right = section.settings.padding.right | default: settings.general_layout_spacing %}
  {% assign padding_left = section.settings.padding.left | default: settings.general_layout_spacing %}
{% else %}
  {% assign padding_right = section.settings.padding.right | default: 0 %}
  {% assign padding_left = section.settings.padding.left | default: 0 %}
{% endif %}

<style>
  .blog-collection-{{section.id}}-container {
    max-width:{% if section.settings.max_container_width == blank %}var(--general-layout-width){% else %}{{section.settings.max_container_width}}px{% endif %};
    padding-top:{{padding_top | times: 0.6 }}px;
    padding-bottom:{{padding_bottom | times: 0.6 }}px;
  }
  .blog-collection-{{section.id}}-list {
    margin: 40px -8px 0;
  }
  .blog-collection-{{section.id}}-item {
    padding: 0 8px;
  }
  @media (min-width: {{settings.breakpoint}}px) {
    .blog-collection-{{section.id}}-container {
      padding-top:{{padding_top}}px;
      padding-right:{{padding_right}}px;
      padding-bottom:{{padding_bottom}}px;
      padding-left:{{padding_left}}px;
    }
    .blog-collection-{{section.id}}-item {
      padding: 0 {{ section.settings.spacing | times: 0.5 }}px;
    }
    .blog-collection-{{section.id}}-list {
      margin: 40px -{{ section.settings.spacing | times: 0.5 }}px 0;
    }
  }
</style>
<div style="background:{{section.settings.color_section_bg}};">
  <div class="tw-mx-5 tw-px-0 lg:tw-mx-auto lg:tw-px-5 tw-overflow-hidden tw-break-words hide-scrollbar blog-collection-{{section.id}}-container tw-max-w-page lg:tw-px-general-layout-spacing">
    {% unless section.settings.title == blank %}
      <h3
        class="tw-text-center tw-m-0 type-heading-font-family {% if section.settings.title_uppercase_on %}tw-uppercase{% endif %}"
        style="font-size: {{section.settings.title_fontsize}}px; letter-spacing: {{section.settings.title_spacing}}px; color: {{ section.settings.color_title }};">
        {{ section.settings.title  }}
      </h3>
    {% endunless %}
    {% unless section.settings.desc == blank %}
      <div class="tw-text-center tw-max-w-150 tw-mt-3 lg:tw-mt-4 tw-mx-auto tw-leading-1.3 blog-collection-{{section.id}}-desc tw-text-text-color tw-text-text-font-size type-text-font-family tw-leading-text-line-height"
        style="color:{{section.settings.color_desc_text}};">
        {{section.settings.desc}}
      </div>
    {% endunless %}
      <div class="tw-group tw-relative blog-collection-{{section.id}}-list-wrap">
        {% if section.settings.limit > 3 %}
          <div class="tw-w-full tw-absolute blog-collection-{{section.id}}-pagination-wrap">
            <div class="tw-hidden lg:tw-block tw-opacity-0 tw-absolute tw-z-10 tw-top-1/2 tw-left-6 lg:tw-left-7 tw-transform tw--translate-y-1/2 tw-cursor-pointer blog-collection-{{section.id}}-pagination" data-direction="prev">
              {% include 'icon_bg_arrow', class: "tw-max-w-11 tw-max-h-11 tw-min-w-11 tw-min-h-11", icon_class: "tw-text-btn-bg-color" %}
            </div>
            <div class="tw-hidden lg:tw-block tw-opacity-0 tw-absolute tw-z-10 tw-top-1/2 tw-right-6 lg:tw-right-7 tw-transform tw--translate-y-1/2 tw-cursor-pointer blog-collection-{{section.id}}-pagination" data-direction="next">
              {% include 'icon_bg_arrow', class: "tw-max-w-11 tw-max-h-11 tw-min-w-11 tw-min-h-11", icon_class:"tw-transform tw-rotate-180 tw-text-btn-bg-color" %}
            </div>
          </div>
        {% endif %}
        <div class="tw-flex tw-overflow-auto blog-collection-{{section.id}}-list">
        </div>
      </div>
  </div>
</div>

<script id="blogs-{{section.id}}-tpl" type="text/html"> 
  <div class="blog-collection-{{section.id}}-item tw-flex-shrink-0 lg:tw-w-1/3 tw-w-3/4 tw-box-border tw-relative">
    <a href="<%= article.url %>" class="article__img tw-relative">
      <% var image = article.image || '' %>
      <div class="common__img-wrapper_lazy animate_images tw-relative tw-overflow-hidden blog-collection__img-wrapper" <% if (image) { %> style="padding-bottom: <%= $imports.image_padding_bottom(image.width, image.height,'unlimit') %>;"<% } %> >
        <% if (image) { %>
          <img
            src="{{shop.default_img}}"
            data-src="<%= $imports.reset_image(image.src, '{width}') %>"
            data-sizes="auto"
            alt="<%= article.title %>"
            class="lazyload {%if settings.general_style == 'round'%}tw-rounded-lg{%endif%} tw-absolute tw-w-full"
          />
        <% } else { %>
          {{ 'image' | placeholder_svg_tag: 'tw-block tw-fill-svg tw-bg-svg' }}
        <% } %>
      </div>
    </a>
    <div class="tw-text-text-font-size type-text-font-family tw-leading-none tw-mt-5" style="color: {{ settings.color_general_light_text }};">
      <% if (article.author) { %>
        <span>BY</span>
        <span style="color: {{ settings.color_general_text }};"><%= article.author %></span>
      <% } %>
      <% if (article.published_at && article.author) { %>
        <span style='margin:0 10px;'>|</span>
      <% } %>
      <% if (article.published_at) { %>
        <span><%= $imports.dateFormat($imports.toTimestamp(article.published_at), 'MM, dd, yyyy') %></span>
      <% } %>
    </div>
    <h4 class="tw-leading-none tw-m-0 tw-mt-4">
      <a href="<%= article.url %>" class="tw-leading-1.3 article__title two_line_text_truncate tw-text-title-color type-heading-font-family tw-no-underline tw-text-xl"><%= article.title %></a>
    </h4>
    <% if (article.excerpt) { %>
      <div class="tw-text-text-color tw-text-text-font-size type-text-font-family tw-leading-1.4" style="margin-top: 14px;">
        <%= article.excerpt %>
      </div>
    <% } %>
  </div>
</script>

{% javascript %}
  $(function(){
    var settings = {{ section.settings | json }};
    (function(callback){
      if(settings.blog && settings.blog.id && settings.blog.url){
        $.get(settings.blog.url + '?per_page=' + settings.limit + '&page=1').then(function(res){
          callback(res.articles);
        })
      }else{
        callback([{"author":"ADMIN", "excerpt":"Your store hasn’t published any blog posts yet. A blog can be used to talk about new product launches, tips, or other news you want to share with your customers.", "published_at":"2020-12-21T09:55:07Z", "title":"Your post's title", "url":"/"},{"author":"ADMIN", "excerpt":"Your store hasn’t published any blog posts yet. A blog can be used to talk about new product launches, tips, or other news you want to share with your customers.", "published_at":"2020-12-21T09:55:07Z", "title":"Your post's title", "url":"/"},{"author":"ADMIN", "excerpt":"Your store hasn’t published any blog posts yet. A blog can be used to talk about new product launches, tips, or other news you want to share with your customers.", "published_at":"2020-12-21T09:55:07Z", "title":"Your post's title", "url":"/"}])
      }
    })(function(arr){
      $(".blog-collection-{{section.id}}-list").html(arr.map(function(a){
        return window.template("blogs-{{section.id}}-tpl", { article: a });
      }).join(""));
      $(document).on("click", ".blog-collection-{{section.id}}-pagination", function () {
        var $container = $(".blog-collection-{{section.id}}-container")
        var $list = $(".blog-collection-{{section.id}}-list")
        var distance = $container.find(".blog-collection-{{section.id}}-list > .blog-collection-{{section.id}}-item:first").outerWidth();
        $list.stop().animate(
          { scrollLeft: $list.scrollLeft() + { prev: -1, next: 1 }[$(this).data("direction")] * distance },
          { duration: "150", easing: "linear" }
        );
      }).one('mouseover', '.blog-collection-{{section.id}}-list-wrap', function(){
        if(arr.length > 3){
          $('.blog-collection-{{section.id}}-pagination').addClass('lg:group-hover:tw-opacity-100')
        }
      });
      $('.blog-collection-{{section.id}}-pagination-wrap').css({'padding-bottom':$('.blog-collection-{{section.id}}-item:first .blog-collection__img-wrapper').outerHeight()})
    });
  });
{% endjavascript %}

{% schema %}
{
  "name": "blog_collection",
  "max_blocks": 3,
  "settings": [
    {
      "type": "header",
      "content": {
        "en-US": "Content",
        "zh-CN": "内容"
      }
    },
    {
      "type": "blog",
      "id": "blog",
      "label": {
        "zh-CN": "添加博客专辑",
        "en-US": "Add collection"
      }
    },
    {
      "type": "header",
      "content": {
        "en-US": "Settings",
        "zh-CN": "设置"
      }
    },
    {
      "type": "text",
      "id": "title",
      "label": {
        "en-US": "Title",
        "zh-CN": "标题"
      },
      "placeholder": {
        "zh-CN": "请输入标题",
        "en-US": "Input title"
      },
      "default": "From our blog"
    },
    {
      "type": "textarea",
      "id": "desc",
      "label": {
        "en-US": "Description",
        "zh-CN": "描述"
      },
      "placeholder": {
        "zh-CN": "请输入描述",
        "en-US": "Enter description"
      }
    },
    {
      "type": "text",
      "id": "limit",
      "label": {
        "en-US": "Max show posts",
        "zh-CN": "最大显示数量"
      },
      "default": 6,
      "props": {
        "type": "number"
      }
    },
    {
      "type": "select",
      "id": "spacing",
      "label": {
        "en-US": "Space",
        "zh-CN": "格子间距"
      },
      "default": "30",
      "options": [
        {
          "value": "15",
          "label": {
            "en-US": "15px",
            "zh-CN": "15px"
          }
        },
        {
          "value": "20",
          "label": {
            "en-US": "20px",
            "zh-CN": "20px"
          }
        },
        {
          "value": "30",
          "label": {
            "en-US": "30px",
            "zh-CN": "30px"
          }
        },
        {
          "value": "40",
          "label": {
            "en-US": "40px",
            "zh-CN": "40px"
          }
        }
      ]
    },
    {
      "type": "header",
      "content": {
        "en-US": "Typography",
        "zh-CN": "字体排版"
      }
    },
    {
      "type": "checkbox",
      "id": "title_uppercase_on",
      "label": {
        "zh-CN": "开启标题全大写",
        "en-US": "Uppercase heading"
      },
      "default": false
    },
    {
      "type": "range",
      "id": "title_fontsize",
      "step": 1,
      "max": 48,
      "min": 12,
      "label": {
        "zh-CN": "标题字号",
        "en-US": "Heading text size"
      },
      "default": 28,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "title_spacing",
      "step": 0.1,
      "max": 2,
      "min": -2,
      "label": {
        "en-US": "Title letter spacing",
        "zh-CN": "标题字间距"
      },
      "default": 0,
      "unit": "px"
    },
    {
      "type": "header",
      "content": {
        "en-US": "Color",
        "zh-CN": "颜色"
      }
    },
    {
      "type": "color",
      "id": "color_section_bg",
      "label": {
        "en-US": "Background",
        "zh-CN": "背景"
      },
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "color_title",
      "label": {
        "zh-CN": "标题",
        "en-US": "Heading"
      },
      "default": "#000000"
    },
    {
      "type": "header",
      "content": {
        "en-US": "Layout",
        "zh-CN": "布局"
      }
    },
    {
      "type": "padding",
      "id": "padding",
      "label": {
        "en-US": "Content space",
        "zh-CN": "内容留白"
      },
      "default": {
        "top": "80",
        "right": "",
        "bottom": "80",
        "left": ""
      },
      "info": {
        "en-US": "Content space in px",
        "zh-CN": "内容留白单位为px"
      }
    },
    {
      "type": "text",
      "id": "max_container_width",
      "label": {
        "en-US": "Max content width",
        "zh-CN": "最大内容宽度"
      },
      "default": "",
      "props": {
        "type": "number"
      },
      "placeholder": {
        "en-US": "Input Max content width",
        "zh-CN": "请输入最大内容宽度"
      },
      "info": {
        "en-US": "Max content width in px",
        "zh-CN": "最大内容宽度单位为px"
      }
    }
  ],
  "presets": [
    {
      "name": "blog_collection",
      "cname": {
        "en-US": "Blog",
        "zh-CN": "博客专辑"
      },
      "category": {
        "en-US": "Material",
        "zh-CN": "素材"
      },
      "ccategory": {
        "en-US": "Material",
        "zh-CN": "素材"
      },
      "icon": "oss/operation/b950c409371f126944b7b9ef9a8db876.svg",
      "display": true
    }
  ]
}
{% endschema %}