{% comment %}
专辑商品
布局: tw-text-left tw-text-center
{% endcomment %}
{% assign collection = section.settings.collection %}
{% assign products = collections[collection.id].products %}
{% assign productsSize = products.size %}
{% assign limit = section.settings.num %}
{% assign text_layout = 'collection_products-' | append: section.id | append: '-layout' %}
{% assign image = section.settings.image %}

{% assign padding_top = section.settings.padding.top | default: "0" %}
{% assign padding_bottom = section.settings.padding.bottom | default: "0" %}
{% if section.settings.padding.right == blank and section.settings.padding.left == blank %}
  {% assign padding_right = section.settings.padding.right | default: settings.general_layout_spacing %}
  {% assign padding_left = section.settings.padding.left | default: settings.general_layout_spacing %}
{% else %}
  {% assign padding_right = section.settings.padding.right | default: 0 %}
  {% assign padding_left = section.settings.padding.left | default: 0 %}
{% endif %}
<style>
  .{{text_layout}}{
    text-align: {{section.settings.text_layout}};
  }
  .collection_products-{{section.id}}-container{
    max-width:{% if section.settings.max_container_width == blank %}var(--general-layout-width){% else %}{{section.settings.max_container_width}}px{% endif %};
    padding-top:{{padding_top | times: 0.6 }}px;
    padding-bottom:{{padding_bottom | times: 0.6 }}px;
  }
  @media (min-width: {{settings.breakpoint}}px) {
    .collection_products-{{section.id}}-container{
      padding-top:{{padding_top}}px;
      padding-right:{{padding_right}}px;
      padding-bottom:{{padding_bottom}}px;
      padding-left:{{padding_left}}px;
    }
    .collection_products-{{section.id}}-cover{
      padding-bottom: unset;
    }
  }
</style>
<div class="tw-text-center" style="background:{{section.settings.color_section_bg}}">
  <div class="tw-grid tw-grid-cols-2 lg:tw-grid-cols-4 tw-gap-y-7.5 md:tw-gap-x-px-15 tw-gap-x-7.5 tw-px-5 tw-mx-auto collection_products-{{section.id}}-container">
    <div class="tw-relative tw-col-span-2 tw-overflow-hidden collection_products-{{section.id}}-cover" {% if image %} style="padding-bottom: {% if image %}{{image.height | image_padding_bottom : image.width, 'unlimit'}}{% else %}unset{% endif %}" {% endif %} >
      {% if image %}
        <img
          src="{{shop.default_img}}"
          class="tw-absolute tw-w-full tw-h-full tw-object-cover tw-inset-0 tw-m-auto {%if settings.general_style == 'round'%}tw-rounded-lg{%endif%} lazyload"
          data-sizes="auto"
          data-src="{{image.src | img_url: '{width}x'}}"
          alt="{{image.alt | escape}}"
        >
      {% else %}
        {{ 'lifestyle-2' | placeholder_svg_tag: 'tw-h-full tw-w-full tw-block tw-fill-svg tw-bg-svg' }}
      {% endif %}
      <div class="tw-w-full lg:tw-absolute lg:tw-w-auto tw-bottom-1/2 lg:tw-bottom-15 lg:tw-left-15 tw-transform {% if image %}tw-absolute tw-translate-y-1/2{% else %}tw-static tw-translate-y-0{% endif %} lg:tw-translate-y-0 tw-text-center lg:tw-text-left tw-leading-none">
        {% unless section.settings.subtitle == blank %}
          <h5 class="tw-mt-0 tw-mb-3 lg:tw-mb-4 tw-text-xs lg:tw-text-sm tw-tracking-2 lg:tw-tracking-4 {%if section.settings.subtitle_uppercase_on%}tw-uppercase{%endif%} type-heading-font-family empty:tw-hidden" style="color:{{section.settings.color_subtitle_text}};">{{section.settings.subtitle}}</h5>
        {% endunless %}
        <h3 class="tw-m-0 tw-text-lg lg:tw-text-10 tw-font-semibold {%if section.settings.title_uppercase_on%}tw-uppercase{%endif%} type-heading-font-family empty:tw-hidden" style="color:{{section.settings.color_title_text}};">{% if section.settings.title == blank %}{{collection.title}}{% else %}{{section.settings.title}}{% endif %}</h3>
        {% unless section.settings.button_label == blank %}
           <a href="{{collection.url}}">
            <button class="tw-h-10 tw-mt-4 lg:tw-mt-6 tw-py-0 tw-px-7 lg:tw-px-10 tw-outline-none tw-cursor-pointer tw-border-solid tw-border tw-text-sm lg:tw-text-btn-font-size tw-tracking-btn-letter-spacing {%if settings.type_button_same_with == 'heading'%}type-heading-font-family{%else%}type-text-font-family{%endif%} {%if settings.type_button_text_uppercase_on%}tw-uppercase{%endif%} {%if settings.general_style == 'round'%}tw-rounded{%endif%}"
              style="border-color:{{section.settings.color_btn_border}};background:{{section.settings.color_btn_bg}};color:{{section.settings.color_btn_text}}";>
              {{section.settings.button_label}}
            </button>
          </a>
        {% endunless %}
      </div>
    </div>
    {% for product in products limit: limit %}
      {% include 'product', product: product, item_class: text_layout %}
    {% endfor %}
    {% if productsSize == nil or productsSize == 0 or collection.products_count == 0 %}
      {% for i in (1..limit) %}
        {% include 'product', product: default_product, item_class: text_layout %}
      {% endfor %}
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "collection_products",
  "settings": [
    {
      "type": "header",
      "content": {
        "en-US": "Content",
        "zh-CN": "内容"
      }
    },
    {
      "type": "collection",
      "id": "collection",
      "label": {
        "en-US": "Add collection",
        "zh-CN": "添加专辑"
      }
    },
    {
      "type": "header",
      "content": {
        "en-US": "Settings",
        "zh-CN": "设置"
      }
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": {
        "zh-CN": "封面图",
        "en-US": "Collection image"
      }
    },
    {
      "type": "text",
      "id": "title",
      "label": {
        "zh-CN": "主标题",
        "en-US": "Heading"
      },
      "placeholder": {
        "zh-CN": "请输入主标题",
        "en-US": "Input title"
      },
      "default": "Best Sellers"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": {
        "zh-CN": "副标题",
        "en-US": "Subheading"
      },
      "placeholder": {
        "zh-CN": "请输入副标题",
        "en-US": "Input subheading"
      },
      "default": "Winter collection"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": {
        "en-US": "Button label",
        "zh-CN": "按钮名称"
      },
      "placeholder": {
        "zh-CN": "请输入按钮名称",
        "en-US": "Input button text"
      },
      "default": "Shop now"
    },
    {
      "type": "select",
      "id": "num",
      "label": {
        "zh-CN": "商品数量",
        "en-US": "Product quantity"
      },
      "options": [
        {
          "value": 2,
          "label": {
            "zh-CN": "一行（2个）",
            "en-US": "One row（2 products）"
          }
        },
        {
          "value": 6,
          "label": {
            "zh-CN": "两行（6个）",
            "en-US": "Two row（6 products）"
          }
        },
        {
          "value": 10,
          "label": {
            "zh-CN": "三行（10个）",
            "en-US": "Three row（10 products）"
          }
        }
      ],
      "default": 6
    },
    {
      "type": "select",
      "id": "text_layout",
      "label": {
        "en-US": "Text layout",
        "zh-CN": "文字布局"
      },
      "default": "left",
      "options": [
        {
          "value": "left",
          "label": {
            "zh-CN": "居左",
            "en-US": "Left"
          }
        },
        {
          "value": "center",
          "label": {
            "zh-CN": "居中",
            "en-US": "Center"
          }
        }
      ]
    },
    {
      "type": "checkbox",
      "label": {
        "zh-CN": "开启主标题全大写",
        "en-US": "Uppercase heading"
      },
      "id": "title_uppercase_on",
      "default": false
    },
    {
      "type": "checkbox",
      "label": {
        "zh-CN": "开启副标题全大写",
        "en-US": "Uppercase subheading"
      },
      "id": "subtitle_uppercase_on",
      "default": true
    },
    {
      "type": "header",
      "content": {
        "en-US": "Color",
        "zh-CN": "颜色"
      }
    },
    {
      "type": "color",
      "id": "color_section_bg",
      "label": {
        "en-US": "Background",
        "zh-CN": "背景"
      },
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "color_title_text",
      "label": {
        "zh-CN": "主标题",
        "en-US": "Heading"
      },
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "color_subtitle_text",
      "label": {
        "zh-CN": "副标题",
        "en-US": "Subheading"
      },
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "color_btn_border",
      "label": {
        "en-US": "Button border",
        "zh-CN": "按钮边框"
      },
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "color_btn_bg",
      "label": {
        "en-US": "Button background",
        "zh-CN": "按钮背景"
      },
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "color_btn_text",
      "label": {
        "en-US": "Button text",
        "zh-CN": "按钮文字"
      },
      "default": "#ffffff"
    },
    {
      "type": "header",
      "content": {
        "en-US": "Layout",
        "zh-CN": "布局"
      }
    },
    {
      "type": "padding",
      "id": "padding",
      "label": {
        "en-US": "Content space",
        "zh-CN": "内容留白"
      },
      "default": {
        "top": "80",
        "right": "",
        "bottom": "80",
        "left": ""
      },
      "info": {
        "en-US": "Content space in px",
        "zh-CN": "内容留白单位为px"
      }
    },
    {
      "type": "text",
      "id": "max_container_width",
      "label": {
        "en-US": "Max content width",
        "zh-CN": "最大内容宽度"
      },
      "default": "",
      "props": {
        "type": "number"
      },
      "placeholder": {
        "zh-CN": "请输入最大内容宽度",
        "en-US": "Input Max content width"
      },
      "info": {
        "en-US": "Max content width in px",
        "zh-CN": "最大内容宽度单位为px"
      }
    }
  ],
  "presets": [
    {
      "name": "collection_products",
      "cname": {
        "en-US": "Collection products",
        "zh-CN": "专辑商品"
      },
      "category": {
        "en-US": "Product",
        "zh-CN": "商品"
      },
      "ccategory": {
        "en-US": "Product",
        "zh-CN": "商品"
      },
      "icon": "oss/operation/e900ecfba2345a83595b9309653785a7.svg",
      "display": true
    }
  ]
}
{% endschema %}