{% assign padding_top = section.settings.padding.top %}
{% assign padding_right = section.settings.padding.right %}
{% assign padding_bottom = section.settings.padding.bottom %}
{% assign padding_left = section.settings.padding.left %}
{% assign blockSize = section.blocks.size %}
{% comment %} 
  tw-grid-cols-1 tw-grid-cols-2 tw-grid-cols-3 tw-grid-cols-4
 {% endcomment %}
<style>
  [data-section-id='{{section.id}}'] .icon_text {
    {% unless section.settings.bg_color == blank %}background-color:{{section.settings.bg_color}};{% endunless %}
  }
  @media (max-width: {{settings.breakpoint}}px) {
    [data-section-id='{{section.id}}'] .icon_text_container {
      {% unless padding_top == blank %}padding-top:calc({{padding_top}}px * 0.6);{% endunless %}
      {% unless padding_bottom == blank %}padding-bottom:calc({{padding_bottom}}px * 0.6);{% endunless %}
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  @media (min-width: {{settings.breakpoint}}px) {
    [data-section-id='{{section.id}}'] .icon_text_container {
      {% unless section.settings.max_container_width == blank %}max-width:{{section.settings.max_container_width}}px;{% else %}max-width:{{settings.general_layout_width}}px;{% endunless %}
      {% unless padding_top == blank %}padding-top:{{padding_top}}px;{% endunless %}
      {% unless padding_bottom == blank %}padding-bottom:{{padding_bottom}}px;{% endunless %}
      {% unless padding_left == blank %}padding-left:{{padding_left}}px;{% endunless %}
      {% unless padding_right == blank %}padding-right:{{padding_right}}px;{% endunless %}
    }
  }
</style>
<div class="icon_text">
  <div class="tw-max-w-page tw-mx-auto tw-px-5 lg:tw-px-general-layout-spacing">
    <div class="hide-scrollbar tw-mx-auto tw-grid tw-grid-cols-1 lg:tw-grid-cols-{{section.blocks.size}} tw-gap-7.5 
        {% if section.settings.icon_top == 'icon_top' %} tw-justify-items-center {% else %} tw-justify-items-center lg:tw-justify-items-start {% endif %} icon_text_container">
    {% for block in section.blocks %}
      {% assign image = block.settings.icon_src | default: '/themes/theme25/assets/image/ec4f3866bc.webp' %}
      <div class="icon_text_wrap tw-flex tw-items-center {% if section.settings.layout == 'icon_top' %} tw-flex-col {% else %} tw-flex-row {% endif %}">
        <div class="tw-relative tw-flex-shrink-0 tw-mb-auto" style="width: 100px; height: 100px;">
          <img alt="img" src="{{shop.default_img}}" class="icon_text_image tw-absolute tw-inset-0 lazyload tw-w-full" data-src="{{ image | img_url }}">
        </div>
        <div class="icon_text_content lg:tw-max-w-60 tw-flex tw-flex-col tw-mb-auto tw-justify-between {% if section.settings.layout == 'icon_top' %}tw-items-center tw-mt-4 lg:tw-text-center {% else %} tw-items-start tw-ml-5 {% endif %}">
          <h2 class="tw-m-0 tw-font-normal {% if section.settings.title_uppercase_on %}tw-uppercase{% endif %} type-heading-font-family" 
            style="color: {{section.settings.title_color}};font-size:{{section.settings.title_font_size}}px;line-height:{{section.settings.title_line_height}};letter-spacing:{{section.settings.title_letter_spacing}}px">
            {{ block.settings.title }}
          </h2>
          <p class="tw-m-0 tw-mt-2.5"
            style="color: {{section.settings.description_color}};font-size:{{section.settings.description_font_size}}px;line-height:{{section.settings.description_line_height}};letter-spacing:{{section.settings.description_letter_spacing}}px">
            {{ block.settings.description }}
          </p>
        </div>
      </div>
    {% endfor %}
   </div>
  </div>
</div>

{% schema %}
{
  "name": "icon_text",
  "max_blocks": 4,
  "settings": [
    {
      "type": "header",
      "content": {
        "en-US": "Settings",
        "zh-CN": "设置"
      }
    },
    {
      "type": "select",
      "id": "layout",
      "label": {
        "en-US": "Icon layout",
        "zh-CN": "图标布局"
      },
      "default": "icon_top",
      "options": [
        {
          "value": "icon_top",
          "label": {
            "en-US": "Icon on top",
            "zh-CN": "图标在上"
          }
        },
        {
          "value": "icon_left",
          "label": {
            "zh-CN": "图标靠左",
            "en-US": "Icon on left"
          }
        }
      ]
    },
    {
      "type": "header",
      "content": {
        "en-US": "Heading",
        "zh-CN": "标题"
      }
    },
    {
      "type": "range",
      "id": "title_font_size",
      "step": 1,
      "max": 20,
      "min": 12,
      "label": {
        "en-US": "Font size",
        "zh-CN": "字号"
      },
      "default": 16,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "title_letter_spacing",
      "step": 0.1,
      "max": 2,
      "min": -2,
      "label": {
        "en-US": "Letter spacing",
        "zh-CN": "字间距"
      },
      "default": 0,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "title_line_height",
      "step": 0.1,
      "max": 3,
      "min": 1,
      "label": {
        "en-US": "Line height",
        "zh-CN": "行高"
      },
      "default": 1.2
    },
    {
      "type": "checkbox",
      "id": "title_uppercase_on",
      "label": {
        "zh-CN": "开启标题全大写",
        "en-US": "Uppercase heading"
      },
      "default": false
    },
    {
      "type": "header",
      "content": {
        "en-US": "Description",
        "zh-CN": "描述"
      }
    },
    {
      "type": "range",
      "id": "description_font_size",
      "step": 1,
      "max": 20,
      "min": 12,
      "label": {
        "en-US": "Font size",
        "zh-CN": "字号"
      },
      "default": 14,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "description_letter_spacing",
      "step": 0.1,
      "max": 2,
      "min": -2,
      "label": {
        "en-US": "Letter spacing",
        "zh-CN": "字间距"
      },
      "default": 0,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "description_line_height",
      "step": 0.1,
      "max": 3,
      "min": 1,
      "label": {
        "en-US": "Line height",
        "zh-CN": "行高"
      },
      "default": 1.4
    },
    {
      "type": "header",
      "content": {
        "en-US": "Color",
        "zh-CN": "颜色"
      }
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": {
        "en-US": "Background",
        "zh-CN": "背景"
      },
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "title_color",
      "label": {
        "zh-CN": "标题",
        "en-US": "Heading"
      },
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "description_color",
      "label": {
        "en-US": "Description",
        "zh-CN": "描述"
      },
      "default": "#666666"
    },
    {
      "type": "header",
      "content": {
        "en-US": "Layout",
        "zh-CN": "布局"
      }
    },
    {
      "type": "padding",
      "id": "padding",
      "label": {
        "en-US": "Content space",
        "zh-CN": "内容留白"
      },
      "default": {
        "top": "80",
        "right": "",
        "bottom": "80",
        "left": ""
      },
      "info": {
        "zh-CN": "内容留白单位为px",
        "en-US": "Content space unit in px"
      }
    },
    {
      "type": "text",
      "id": "max_container_width",
      "label": {
        "zh-CN": "最大内容宽度",
        "en-US": "Enter max content width"
      },
      "default": "",
      "props": {
        "type": "number"
      },
      "placeholder": {
        "zh-CN": "请输入最大内容宽度",
        "en-US": "Max content width"
      },
      "info": {
        "zh-CN": "最大内容宽度单位为px",
        "en-US": "Max content width unit as PX"
      }
    },
    {
      "type": "header",
      "content": {
        "en-US": "Add content",
        "zh-CN": "添加内容"
      }
    }
  ],
  "blocks": [
    {
      "type": "icon",
      "name": {
        "en-US": "Content",
        "zh-CN": "内容"
      },
      "settings": [
        {
          "type": "image_picker",
          "id": "icon_src",
          "label": {
            "en-US": "Icon",
            "zh-CN": "图标"
          },
          "info": {
            "zh-CN": "提示：上传图标大小需要为实际显示大小的2倍，图片格式png",
            "en-US": "The uploaded icon needs to be twice the size of the actual display. Image format is png"
          }
        },
        {
          "type": "text",
          "id": "title",
          "label": {
            "zh-CN": "标题",
            "en-US": "Heading"
          },
          "default": "Icon Title"
        },
        {
          "type": "textarea",
          "id": "description",
          "placeholder": {
            "en-US": "Input Description",
            "zh-CN": "输入描述"
          },
          "label": {
            "en-US": "Description",
            "zh-CN": "描述"
          },
          "default": "Introducing Resort 19.An ode to women and grace."
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "icon_text",
      "cname": {
        "zh-CN": "图标文字",
        "en-US": "Icon text"
      },
      "category": {
        "en-US": "Material",
        "zh-CN": "素材"
      },
      "ccategory": {
        "en-US": "Material",
        "zh-CN": "素材"
      },
      "icon": "oss/operation/b3117ddd140480a503655c157b1af934.svg",
      "display": true,
      "blocks": [
        {
          "type": "icon",
          "settings": {
            "icon_src": "",
            "title": "24/7 Support",
            "description": "Delivered to your door."
          }
        },
        {
          "type": "icon",
          "settings": {
            "icon_src": "",
            "title": "Free Shipping",
            "description": "Capped at $50 per order."
          }
        },
        {
          "type": "icon",
          "settings": {
            "icon_src": "",
            "title": "Securety Payments",
            "description": "Up to 12 months installments."
          }
        },
        {
          "type": "icon",
          "settings": {
            "icon_src": "",
            "title": "14-Day Returns",
            "description": "Shop with confidence."
          }
        }
      ]
    }
  ]
}
{% endschema %}