<div class="not_found">
  <div class="not_found_container tw-py-25 tw-flex tw-justify-center tw-items-center">
    <div class="not_found_content tw-flex tw-flex-col tw-justify-center tw-items-center tw-leading-none">
      <span class="not_found_title tw-uppercase tw-text-lg lg:tw-text-3xl tw-mb-4 lg:tw-mb-5" style="color: {{ settings.color_general_heading_text }}">{{ langs.general.not_found.title | t }}</span>
      <span class="not_found_texg tw-text-sm lg:tw-text-lg tw-mb-6 lg:tw-mb-7.5" style="color: {{ settings.color_general_text }}">{{ langs.general.not_found.tips | t }}</span>
      <a href="/" class="tw-px-6 tw-py-3 tw-no-underline hover:tw-opacity-75 tw-text-btn-text-color tw-bg-btn-bg-color lg:tw-text-btn-font-size tw-tracking-btn-letter-spacing {%if settings.type_button_same_with == 'heading'%}type-heading-font-family{%else%}type-text-font-family{%endif%} {%if settings.type_button_text_uppercase_on%}tw-uppercase{%endif%} {%if settings.general_style == 'round'%}tw-rounded{%endif%}">{{ langs.general.not_found.continue_shopping | t }}</a>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "not_found",
  "settings": [],
  "presets": [
    {
      "name": "not_found",
      "cname": {
        "en-US": "404 page",
        "zh-CN": "404页面"
      },
      "category": {
        "zh-CN": "基础",
        "en-US": "Basic"
      },
      "ccategory": {
        "zh-CN": "基础",
        "en-US": "Basic"
      },
      "display": false
    }
  ]
}
{% endschema %}