<style>
  @media (min-width: {{settings.breakpoint}}px) {
    [data-section-id='{{section.id}}'] .overlay_text_container {
      max-width: {{ section.settings.max_container_width }}px;
    }
    [data-section-id='{{section.id}}'] .overlay_text_sub_title {
      letter-spacing: 4px;
    }
    [data-section-id='{{section.id}}'] .overlay_text_title {
      font-size: 46px;
      color: {{section.settings.title_color}};
    }
    [data-section-id='{{section.id}}'] .overlay_text_section {
      {% if section.settings.type == 'fixed' %}
        height: {{ section.settings.pc_image_height }}px;
      {% else %}
        height:calc( 100vh - var(--header-height,"0px") );
      {% endif %}
    }
  }
  @media (max-width: {{settings.breakpoint}}px) {
    [data-section-id='{{section.id}}'] .overlay_text_section .overlay_text_title {
      font-size: 20px;
      color: {{section.settings.title_color}};
    }
    [data-section-id='{{section.id}}'] .overlay_text_section .overlay_text_sub_title {
      letter-spacing: 2px;
    }
    [data-section-id='{{section.id}}'] .overlay_text_section {
      {% if section.settings.type == 'fixed' %}
        height: {{ section.settings.mobile_image_height }}px;
      {% else %}
        height:calc( 100vh - var(--mobile-header-height,"0px") );
      {% endif %}
    }
    [data-section-id='{{section.id}}'] .overlay_text_section .overlay_text_container {
      width: calc(100% - 130px);
    }
  }
  [data-section-id='{{section.id}}'] .overlay_text_btn {
    color: {{section.settings.btn_text_color}};
    background-color: {{section.settings.btn_bg_color}};
    border: 1px solid {{section.settings.btn_border_color}};
  }
  [data-section-id='{{section.id}}'] .overlay_description > p:first-child {
    margin-top: 0;
  }
  [data-section-id='{{section.id}}'] .overlay_description > p:last-child {
    margin-bottom: 0;
  }
</style>
  {% assign bg_src = section.settings.bg_src %}
  {% assign mobile_bg_src = section.settings.mobile_bg_src | default: bg_src %}
  {% assign opacity = section.settings.overlay_opacity  | divided_by:100 %}
<div class="overlay_text_section tw-relative tw-flex tw-justify-center tw-items-center tw-overflow-hidden">
  {% if bg_src %}
    <img src="{{shop.default_img}}" class="overlay_text_image tw-w-full lazyload" data-srcs="{{mobile_bg_src  | img_url: '{width}x' }},{{ bg_src  | img_url: '{width}x' }}"  data-sizes="auto">
  {% else %}
    {{ 'lifestyle-1' | placeholder_svg_tag: 'tw-w-full tw-h-full tw-block tw-fill-svg tw-bg-svg' }}
  {% endif %}
  <div class="overlay_text_opacity tw-z-0 tw-absolute tw-inset-0" style="background-color: {{ '#000000' | color_modify: 'alpha', opacity }}"></div>
  <div class="overlay_text_container tw-z-10 tw-flex tw-flex-col tw-items-center tw-mx-auto tw-text-center tw-absolute tw-top-1/2 tw-left-1/2 tw-transform tw--translate-x-1/2 tw--translate-y-1/2">
    {% unless section.settings.sub_title == blank %}
      <h4 class="overlay_text_sub_title type-heading-font-family tw-m-0 tw-font-normal tw-text-xs lg:tw-text-sm tw-leading-none {% if section.settings.sub_title_uppercase_on %}tw-uppercase{% endif %}"
        style="color: {{section.settings.sub_title_color}};"
      >
        {{ section.settings.sub_title }}
      </h4>
    {% endunless %}
    {% unless section.settings.title == blank %}
      <h2 class="overlay_text_title tw-tracking-normal type-heading-font-family tw-m-0 tw-font-medium tw-leading-none tw-mt-3 lg:tw-mt-4 {% if section.settings.title_uppercase_on %}tw-uppercase{% endif %}">
        {{ section.settings.title }}
      </h2>
    {% endunless %}
    {% unless section.settings.description == blank %}
      <p class="overlay_text_description type-text-font-family tw-tracking-normal tw-m-0 tw-mt-4 lg:tw-mt-5 tw-text-sm lg:tw-text-lg "
        style="color: {{section.settings.description_color}};">
        {{ section.settings.description }}
      </p>
    {% endunless %}
    {% if section.settings.btn_title %}
      <a class="overlay_text_btn tw-py-3 tw-px-6 lg:tw-px-10 tw-mt-4 lg:tw-mt-10 tw-text-sm tw-no-underline tw-leading-none lg:tw-text-btn-font-size tw-tracking-btn-letter-spacing {%if settings.type_button_same_with == 'heading'%}type-heading-font-family{%else%}type-text-font-family{%endif%} {%if settings.type_button_text_uppercase_on%}tw-uppercase{%endif%} {%if settings.general_style == 'round'%}tw-rounded{%endif%}"
      {% unless section.settings.btn_src.type != 'web' or section.settings.btn_src.url contains shop.domain %} target="_blank" {% endunless %}
      {% if section.settings.btn_src.url %}  href="{{ section.settings.btn_src.url }}" {% endif %}
      >
        {{ section.settings.btn_title }}
      </a>
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "overlay_text",
  "settings": [
    {
      "type": "header",
      "content": {
        "en-US": "Settings",
        "zh-CN": "设置"
      }
    },
    {
      "type": "select",
      "label": {
        "en-US": "Type",
        "zh-CN": "类型"
      },
      "id": "type",
      "default": "full",
      "options": [
        {
          "value": "fixed",
          "label": {
            "en-US": "Fixed height",
            "zh-CN": "固定高度"
          }
        },
        {
          "value": "full",
          "label": {
            "zh-CN": "全屏",
            "en-US": "Full page"
          }
        }
      ]
    },
    {
      "type": "text",
      "id": "pc_image_height",
      "visibleOn": " type != 'full' ",
      "label": {
        "zh-CN": "PC端高度",
        "en-US": "Desktop height"
      },
      "placeholder": {
        "zh-CN": "输入PC端高度",
        "en-US": "Input desktop height"
      },
      "default": 500
    },
    {
      "type": "text",
      "id": "mobile_image_height",
      "visibleOn": " type != 'full' ",
      "label": {
        "en-US": "Mobile height",
        "zh-CN": "移动端高度"
      },
      "placeholder": {
        "zh-CN": "输入移动端高度",
        "en-US": "Enter mobile height"
      },
      "default": 360
    },
    {
      "type": "image_picker",
      "id": "bg_src",
      "label": {
        "en-US": "Background",
        "zh-CN": "PC端背景图"
      }
    },
    {
      "type": "image_picker",
      "id": "mobile_bg_src",
      "label": {
        "en-US": "Mobile Background",
        "zh-CN": "移动端背景图"
      }
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "label": {
        "en-US": "Image overlay transparency",
        "zh-CN": "图片蒙层透明度"
      },
      "default": "0",
      "step": 1,
      "max": 100,
      "min": 0,
      "unit": "%"
    },
    {
      "type": "text",
      "id": "max_container_width",
      "label": {
        "en-US": "Max content width",
        "zh-CN": "最大内容宽度"
      },
      "default": 480,
      "props": {
        "type": "number"
      },
      "placeholder": {
        "zh-CN": "请输入最大内容宽度",
        "en-US": "Enter max content width"
      },
      "info": {
        "zh-CN": "最大内容宽度单位为px",
        "en-US": "Max content width unit in px"
      }
    },
    {
      "type": "text",
      "id": "title",
      "placeholder": {
        "zh-CN": "输入标题",
        "en-US": "Input heading"
      },
      "label": {
        "zh-CN": "标题",
        "en-US": "Heading"
      },
      "default": "Cashmere, at cost."
    },
    {
      "type": "text",
      "id": "sub_title",
      "placeholder": {
        "zh-CN": "输入副标题",
        "en-US": "Input subheading"
      },
      "label": {
        "zh-CN": "副标题",
        "en-US": "Subheading"
      },
      "default": "Winter collection"
    },
    {
      "type": "textarea",
      "id": "description",
      "placeholder": {
        "zh-CN": "输入描述",
        "en-US": "Input description"
      },
      "label": {
        "en-US": "Description",
        "zh-CN": "描述"
      },
      "default": "Shop hundreds of luxury goods from the same manufacturers as leading brands for up to 80% less. Savings guaranteed."
    },
    {
      "type": "text",
      "id": "btn_title",
      "label": {
        "zh-CN": "按钮名称",
        "en-US": "Button text"
      },
      "placeholder": {
        "zh-CN": "输入按钮名称",
        "en-US": "Input text"
      },
      "default": "Shop now"
    },
    {
      "type": "url",
      "id": "btn_src",
      "label": {
        "en-US": "Button link",
        "zh-CN": "按钮链接"
      },
      "default": "SHOP NOW"
    },
    {
      "type": "checkbox",
      "id": "title_uppercase_on",
      "label": {
        "zh-CN": "开启标题全大写",
        "en-US": "Uppercase heading"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "sub_title_uppercase_on",
      "label": {
        "zh-CN": "开启副标题全大写",
        "en-US": "Uppercase subheading"
      },
      "default": true
    },
    {
      "type": "header",
      "content": {
        "en-US": "Color",
        "zh-CN": "颜色"
      }
    },
    {
      "type": "color",
      "id": "title_color",
      "label": {
        "zh-CN": "标题",
        "en-US": "Heading"
      },
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "sub_title_color",
      "label": {
        "zh-CN": "副标题",
        "en-US": "Subheading"
      },
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "description_color",
      "label": {
        "en-US": "Description",
        "zh-CN": "描述"
      },
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "btn_bg_color",
      "label": {
        "en-US": "Button background",
        "zh-CN": "按钮背景"
      },
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "btn_border_color",
      "label": {
        "en-US": "Button border",
        "zh-CN": "按钮边框"
      },
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "btn_text_color",
      "label": {
        "en-US": "Button text",
        "zh-CN": "按钮文字"
      },
      "default": "#ffffff"
    }
  ],
  "presets": [
    {
      "name": "overlay_text",
      "cname": {
        "en-US": "Text overlay",
        "zh-CN": "文字浮层"
      },
      "category": {
        "en-US": "Material",
        "zh-CN": "素材"
      },
      "ccategory": {
        "en-US": "Material",
        "zh-CN": "素材"
      },
      "icon": "oss/operation/f23a13486b2c6db319d468e26b2bb2e9.svg",
      "display": true
    }
  ]
}
{% endschema %}