<div class="text_section">
  <div class="text_container tw-flex tw-flex-col tw-items-center tw-mx-auto tw-text-center">
    {% unless section.settings.sub_title == blank %}
      <h4 class="text_sub_title tw-m-0 tw-leading-none type-heading-font-family {% if section.settings.sub_title_uppercase_on %}tw-uppercase{% endif %}">
        {{ section.settings.sub_title }}
      </h4>
    {% endunless %}
    {% unless section.settings.title == blank %}
      <h2 class="text_title tw-m-0 tw-mt-3 type-heading-font-family {% if section.settings.title_uppercase_on %}tw-uppercase{% endif %}">
        {{ section.settings.title }}
      </h2>
    {% endunless %}
    {% unless section.settings.description == blank %}
      <div class="text_description tw-m-0 tw-mt-3 lg:tw-mt-5 type-text-font-family">
        {{ section.settings.description }}
      </div>
    {% endunless %}
    {% unless section.settings.sub_description == blank %}
      <div class="text_sub_description tw-m-0 tw-mt-4 type-text-font-family">
        {{ section.settings.sub_description }}
      </div>
    {% endunless %}
  </div>
</div>
{% assign padding_top = section.settings.padding.top %}
{% assign padding_right = section.settings.padding.right %}
{% assign padding_bottom = section.settings.padding.bottom %}
{% assign padding_left = section.settings.padding.left %}
<style>
  @media (max-width: {{settings.breakpoint}}px) {
    [data-section-id='{{section.id}}'] .text_section .text_container {
      {% unless padding_top == blank %}padding-top:calc({{padding_top}}px * 0.6);{% endunless %}
      {% unless padding_bottom == blank %}padding-bottom:calc({{padding_bottom}}px * 0.6);{% endunless %}
      padding-left: 20px;
      padding-right: 20px;
    }
    [data-section-id='{{section.id}}'] .text_section .text_sub_title,
    [data-section-id='{{section.id}}'] .text_section .text_description,
    [data-section-id='{{section.id}}'] .text_section .text_sub_description{
      font-size: 14px;
    }
    [data-section-id='{{section.id}}'] .text_section .text_title{
      font-size: 18px;
    }
  }
  [data-section-id='{{section.id}}'] .text_section {
    {% unless section.settings.bg_color == blank %}background-color:{{section.settings.bg_color}};{% endunless %}
  }
  [data-section-id='{{section.id}}'] .text_container{
    {% unless section.settings.max_container_width == blank %}max-width:{{section.settings.max_container_width}}px;{% endunless %}
    {% unless padding_top == blank %}padding-top:{{padding_top}}px;{% endunless %}
    {% unless padding_bottom == blank %}padding-bottom:{{padding_bottom}}px;{% endunless %}
    {% unless padding_left == blank %}padding-left:{{padding_left}}px;{% endunless %}
    {% unless padding_right == blank %}padding-right:{{padding_right}}px;{% endunless %}
  }
  [data-section-id='{{section.id}}'] .text_title{
    color: {{section.settings.title_color}};
    font-size: {{section.settings.title_font_size}}px;
    letter-spacing:{{section.settings.title_letter_spacing}}px;
    line-height: {{section.settings.title_line_height}};
  }
  [data-section-id='{{section.id}}'] .text_sub_title{
    color: {{section.settings.sub_title_color}};
    font-size: {{section.settings.sub_title_font_size}}px;
    letter-spacing:{{section.settings.sub_title_letter_spacing}}px;
  }
  [data-section-id='{{section.id}}'] .text_description{
    color: {{section.settings.description_color}};
    font-size: {{section.settings.description_title_font_size}}px;
    letter-spacing:{{section.settings.description_letter_spacing}}px;
    line-height: {{section.settings.description_line_height}};
  }
  [data-section-id='{{section.id}}'] .text_description > p:first-child,
  [data-section-id='{{section.id}}'] .text_sub_description > p:first-child {
    margin-top: 0;
  }
  [data-section-id='{{section.id}}'] .text_description > p:last-child,
  [data-section-id='{{section.id}}'] .text_sub_description > p:last-child {
    margin-bottom: 0;
  }
  [data-section-id='{{section.id}}'] .text_sub_description{
    color: {{section.settings.sub_description_color}};
    font-size: {{section.settings.sub_description_title_font_size}}px;
    letter-spacing:{{section.settings.sub_description_letter_spacing}}px;
    line-height: {{section.settings.sub_description_line_height}};
  }
</style>

{% schema %}
{
  "name": "text",
  "settings": [
    {
      "type": "header",
      "content": {
        "en-US": "Content",
        "zh-CN": "内容"
      }
    },
    {
      "type": "textarea",
      "id": "title",
      "placeholder": {
        "zh-CN": "输入标题",
        "en-US": "Input heading"
      },
      "label": {
        "zh-CN": "标题",
        "en-US": "Heading"
      },
      "default": "It's all about lifestyle"
    },
    {
      "type": "text",
      "id": "sub_title",
      "placeholder": {
        "zh-CN": "输入标题",
        "en-US": "Input heading"
      },
      "label": {
        "zh-CN": "副标题",
        "en-US": "Subheading"
      },
      "default": "New fashion"
    },
    {
      "type": "richtext",
      "id": "description",
      "placeholder": {
        "zh-CN": "输入文本内容",
        "en-US": "Enter text"
      },
      "label": {
        "en-US": "Description",
        "zh-CN": "描述"
      },
      "default": "<p>It starts with better materials, continues with better design, and carries through to better factories and shipping methods. Less waste and pollution. More thoughtfulness and accountability.</p>"
    },
    {
      "type": "richtext",
      "id": "sub_description",
      "placeholder": {
        "zh-CN": "输入文本内容",
        "en-US": "Enter text"
      },
      "label": {
        "en-US": "Sub description",
        "zh-CN": "次级描述"
      },
      "default": "<p>Better Things In a Better Way.</p>"
    },
    {
      "type": "header",
      "content": {
        "en-US": "Color",
        "zh-CN": "颜色"
      }
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": {
        "en-US": "Background",
        "zh-CN": "背景"
      },
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "title_color",
      "label": {
        "zh-CN": "主标题",
        "en-US": "Heading"
      },
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "sub_title_color",
      "label": {
        "zh-CN": "副标题",
        "en-US": "Subheading"
      },
      "default": "#666666"
    },
    {
      "type": "color",
      "id": "description_color",
      "label": {
        "en-US": "Description",
        "zh-CN": "描述"
      },
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "sub_description_color",
      "label": {
        "en-US": "Sub description",
        "zh-CN": "次级描述"
      },
      "default": "#999999"
    },
    {
      "type": "header",
      "content": {
        "zh-CN": "主标题",
        "en-US": "Heading"
      }
    },
    {
      "type": "range",
      "id": "title_font_size",
      "step": 1,
      "max": 48,
      "min": 14,
      "label": {
        "en-US": "Font size",
        "zh-CN": "字号"
      },
      "default": 24,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "title_letter_spacing",
      "step": 0.1,
      "max": 2,
      "min": -2,
      "label": {
        "en-US": "Letter spacing",
        "zh-CN": "字间距"
      },
      "default": 0,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "title_line_height",
      "step": 0.1,
      "max": 3,
      "min": 1,
      "label": {
        "en-US": "Line height",
        "zh-CN": "行高"
      },
      "default": 1
    },
    {
      "type": "checkbox",
      "id": "title_uppercase_on",
      "label": {
        "zh-CN": "开启标题全大写",
        "en-US": "Uppercase heading"
      },
      "default": false
    },
    {
      "type": "header",
      "content": {
        "zh-CN": "副标题",
        "en-US": "Subheading"
      }
    },
    {
      "type": "range",
      "id": "sub_title_font_size",
      "step": 1,
      "max": 20,
      "min": 12,
      "label": {
        "en-US": "Font size",
        "zh-CN": "字号"
      },
      "default": 14,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "sub_title_letter_spacing",
      "step": 0.1,
      "max": 2,
      "min": -2,
      "label": {
        "en-US": "Letter spacing",
        "zh-CN": "字间距"
      },
      "default": 2,
      "unit": "px"
    },
    {
      "type": "checkbox",
      "id": "sub_title_uppercase_on",
      "label": {
        "zh-CN": "开启副标题全大写",
        "en-US": "Uppercase subheading"
      },
      "default": true
    },
    {
      "type": "header",
      "content": {
        "en-US": "Description",
        "zh-CN": "描述"
      }
    },
    {
      "type": "range",
      "id": "description_title_font_size",
      "step": 1,
      "max": 20,
      "min": 12,
      "label": {
        "en-US": "Font size",
        "zh-CN": "字号"
      },
      "default": 18,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "description_letter_spacing",
      "step": 0.1,
      "max": 2,
      "min": -2,
      "label": {
        "en-US": "Letter spacing",
        "zh-CN": "字间距"
      },
      "default": 0,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "description_line_height",
      "step": 0.1,
      "max": 3,
      "min": 1,
      "label": {
        "en-US": "Line height",
        "zh-CN": "行高"
      },
      "default": 1.4
    },
    {
      "type": "header",
      "content": {
        "en-US": "Sub description",
        "zh-CN": "次级描述"
      }
    },
    {
      "type": "range",
      "id": "sub_description_title_font_size",
      "step": 1,
      "max": 20,
      "min": 12,
      "label": {
        "en-US": "Font size",
        "zh-CN": "字号"
      },
      "default": 14,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "sub_description_letter_spacing",
      "step": 0.1,
      "max": 2,
      "min": -2,
      "label": {
        "en-US": "Letter spacing",
        "zh-CN": "字间距"
      },
      "default": 0,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "sub_description_line_height",
      "step": 0.1,
      "max": 3,
      "min": 1,
      "label": {
        "en-US": "Line height",
        "zh-CN": "行高"
      },
      "default": 1
    },
    {
      "type": "header",
      "content": {
        "en-US": "Layout",
        "zh-CN": "布局"
      }
    },
    {
      "type": "padding",
      "id": "padding",
      "label": {
        "en-US": "Content space",
        "zh-CN": "内容留白"
      },
      "default": {
        "top": "80",
        "right": "",
        "bottom": "80",
        "left": ""
      },
      "info": {
        "zh-CN": "内容留白单位为px",
        "en-US": "Content space unit in px"
      }
    },
    {
      "type": "text",
      "id": "max_container_width",
      "label": {
        "en-US": "Max content width",
        "zh-CN": "最大内容宽度"
      },
      "default": 800,
      "props": {
        "type": "number"
      },
      "placeholder": {
        "zh-CN": "请输入最大内容宽度",
        "en-US": "Enter max content width"
      },
      "info": {
        "zh-CN": "最大内容宽度单位为px",
        "en-US": "Max content width unit in px"
      }
    }
  ],
  "presets": [
    {
      "name": "text",
      "cname": {
        "en-US": "Text",
        "zh-CN": "文字"
      },
      "category": {
        "en-US": "Material",
        "zh-CN": "素材"
      },
      "ccategory": {
        "en-US": "Material",
        "zh-CN": "素材"
      },
      "display": true,
      "icon": "oss/operation/b863a9e30280ff04ecc13937c630f152.svg"
    }
  ]
}
{% endschema %}