{% assign adsUrl = '' %}
{% assign adsImage = '' %}
{% assign adsTitle = '' %}
{% assign product = all_products[product.id] %}
{% if type == 'custom' and image %}
  {% assign adsUrl = link.url %}
  {% assign adsImage = images[image] %}
  {% assign adsTitle = title %}
{% elsif type == 'product' and product and product.id != 0 %}
  {% assign adsUrl = product.url %}
  {% assign adsImage = product.image %}
  {% assign adsTitle = product.title %}
{% endif %}
{% comment %} 有图片才显示广告位 {% endcomment %}
{% if adsImage %}
  <li class="tw-hidden lg:tw-block tw-w-1/5 tw-mx-5 tw-pt-10 tw-text-center tw-transform tw-translate-y-3 group-hover:tw-translate-y-0 {% if position == 'right' %}tw-order-1{% endif %}">
    <a {% unless link.type != 'web' or link.url contains shop.domain %}target="_blank"{% endunless %} {% if adsUrl %}href="{{adsUrl}}"{% endif %}
      class="tw-relative tw-block tw-overflow-hidden tw-w-full {%if settings.general_style == 'round'%}tw-rounded-lg{%endif%}"
      style="padding-bottom:{{adsImage.height | image_padding_bottom : adsImage.width, 'unlimit'}};">
      <img
        src="{{shop.default_img}}"
        class="tw-absolute tw-inset-0 tw-w-full tw-m-auto lazyload"
        data-sizes="auto"
        data-src="{{adsImage.src | img_url: '{width}x'}}"
        alt="{{adsImage.alt | escape}}"
      >
    </a>
    {% if adsTitle %}
      <h3 class="tw-m-0 tw-mt-5 tw-text-title-color tw-font-normal tw-text-menu-font-size tw-leading-1.3">
        <a {% unless link.type != 'web' or link.url contains shop.domain %}target="_blank"{% endunless %} {% if adsUrl %}href="{{adsUrl}}"{% endif %} class="tw-no-underline tw-text-inherit">{{adsTitle}}</a>
      </h3>
    {% endif %}
    {% comment %} 自定义内容 {% endcomment %}
    {% if type == 'custom' and image and desc %}
      <p class="tw-m-0 tw-mt-2 tw-tracking-normal tw-normal-case tw-text-text-color tw-text-text-font-size type-text-font-family tw-leading-1.3">{{desc}}</p>
    {% endif %}
    {% comment %} 商品 {% endcomment %}
    {% if type == 'product' and product and product.id != 0 %}
      <div class="tw-mt-2 tw-leading-none tw-normal-case">
        {% assign from_on = false %}
        {% assign price_min = product.price_min %}
        {% if price_min != product.price_max %}
          {% assign from_on = true %}
        {% endif %}
        <div class="tw-inline-block tw-mr-2 tw-max-w-full tw-truncate tw-tracking-normal tw-text-sm tw-text-price-color lg:tw-text-price-font-size {%if settings.type_price_same_with == 'heading'%}type-heading-font-family{%else%}type-text-font-family{%endif%}">
          {% if from_on %}{{ langs.products.general.from | t }}{% endif %}<span class="money">{{price_min | money_with_symbol}}</span>
        </div>
      </div>
    {% endif %}
  </li>
{% endif %}