{% comment %} inventory_visible 真实库存是否显示 {% endcomment %}
{% assign inventory_visible = false %}
{% if selectedVariant != nil and selectedVariant.inventory_quantity > 0 and product.inventory_tracking %}
  {% assign inventory_visible = true %}
{% endif %}
{% assign inventory = section.settings.inventory %}
<div class="tw-w-full tw-flex tw-mt-4 tw-items-center {% if inventory == false and inventory_visible == false %}tw-hidden{% endif %} product-info__marketing-inventory" data-random="{{inventory}}" data-inventory-min="{{section.settings.inventory_min}}" data-inventory-max="{{section.settings.inventory_max}}" >
  {% include 'icon_stock' %}
  <span class="tw-ml-4 tw-leading-none">
    {% assign inventory_quantity = "<b></b>" %}{% comment %} 虚拟库存 {% endcomment %}
    {% unless inventory %}
      {% assign inventory_quantity = selectedVariant.inventory_quantity | prepend: "<b>" | append: "</b>" %}{% comment %} 真实库存 {% endcomment %}
    {% endunless %}
    {{ langs.product.product_detail.marketing_inventory | t: count: inventory_quantity }}
  </span>
</div>
{% javascript %}
  $(function () {
    var $inventory = $(".product-info__marketing-inventory");
    if ($inventory.length && $inventory.data('random')) {
      var maxInventory = parseInt($inventory.attr("data-inventory-max"), 10);
      var minInventory = parseInt($inventory.attr("data-inventory-min"), 10);
      var productId = {{product.id | json}};
      var curInventory = { productId: productId, value: parseInt(Math.random() * (maxInventory - minInventory)) + minInventory };
      try {
        var localValue = JSON.parse(localStorage.magic_inventory);
        if (localValue.productId == productId) {
          curInventory = localValue;
        }
      } catch (error) { }

      curInventory.value = Math.max(curInventory.value - 1, minInventory);
      $inventory.find("b").html(curInventory.value);
      try {
        localStorage.magic_inventory = JSON.stringify(curInventory);
      } catch (error) { }

    }
    $(document).on('xf.product.variants.change', function (e, data) {
      var $inventory = $("#product_detail_" + data.product.id + " .product-info__marketing-inventory")
      if ($inventory.length && !$inventory.data('random')) {
        $inventory.toggleClass('tw-hidden', !(data.selectedVariants.length <= 1 && data.selected.inventory_quantity > 0 && data.product.inventory_tracking)).find('span b').html(data.selected.inventory_quantity);
      }
    });
  });
{% endjavascript %}