{% assign is_odd = forloop.index0 | modulo:2 %}
{% assign visible = 0 %}
{% if initialSlide == forloop.index0 %}
  {% assign visible = 1 %}
{% endif %}
<div class="product-info__slide tw-outline-none {% if section.settings.mobile_gallery_layout == "slide_show" and product.images.size > 1 %}tw-mr-2 lg:tw-mr-0{% endif %} {% if section.settings.gallery_layout == "grid" and product.images.size > 1 %}tw-box-border {% if is_odd == 0 %} lg:tw-pr-2.5 {% else %} lg:tw-pl-2.5 {% endif %}{% endif %}" data-grid-item-idx="{{forloop.index0}}" >
  <div class="tw-outline-none tw-cursor-pointer">
    <div style="padding-bottom:{{image.height | image_padding_bottom : image.width, origin:'unlimit'}};" class="tw-relative slider-zoom " data-zoom-idx="{{forloop.index0}}" >
      <img {% if visible != 0  %}src="{{image.src | img_url: '1080x'}}"{% else %} data-src="{{image.src | img_url: '1080x'}}" src="{{shop.default_img}}" {% endif %} class="tw-absolute tw-inset-0 tw-m-auto tw-w-full tw-h-full {%if settings.general_style == 'round'%}tw-rounded-none lg:tw-rounded-lg{%endif%} loading_bg product-image__swiper_img imglazy {% if visible == 0 %}lazy-lazyload{% endif %}" alt="{{image.alt | default: images[src].alt | escape}}" data-track="zoom_in"/>
    </div>
  </div>
</div>