<script type="text/html" id="product_info_body_art_tpl">
  <% var disabled = false;
    if (!(selectedVariant && selectedVariant.available) || !product.available) {
      disabled = true;
    }
  %>
  <input type="hidden" name="product_id" value="<%= product.id %>" />
  <input type="hidden" name="variant_id" id="selected_variant_id_<%= product.id %>" value="<% if (selectedVariant && selectedVariant.available_quantity > 0) { %><%= selectedVariant.id %><% } %>" />
  <div class="product-info__body">
    <div class="product-info__variants">
      <% for (var i = 0; i < product.options.length; i++) { %>
        <% 
          var opt = product.options[i]; 
          var optIdx = 'option' + (i + 1);
          var selectedOptValue = (selectedVariant && selectedVariant[optIdx]) || '';
          {% comment %} 色卡 {% endcomment %}
          var is_color = false;
          var optname = opt.name.toLowerCase();
          var swatch_name = '{{settings.product_swatches_name | downcase}}';
          {% if settings.product_swatches_style == "swatches" %}
            if (swatch_name && optname.indexOf(swatch_name) != -1) {
              is_color = true;
              {% include 'colors' %}
              var colors = {{colors | json}};
              for (var value of opt.values) {
                var color = value.toLowerCase();
                if (!colors[color]) {
                  is_color = false;
                }
              }
            }
          {% endif %}
          var is_thumbnail = false;
          {% if settings.product_swatches_style == "thumbnail" %}
            if (swatch_name && optname.indexOf(swatch_name) != -1 && product.need_variant_image) {
              is_thumbnail = true;
            }
          {% endif %}

          var variantDisabledArray = '';
          for (var value of opt.values) {
            {% comment %} 计算按钮是否需要禁用 {% endcomment %}
            var variantDisabled = 0;
            if (selectedVariant) {
              {% comment %}选中子款式 替换其中一个属性值 对应的子商品不存在，该属性值禁用{% endcomment %}
              variantDisabled = 1;
              var option1Value = selectedVariant.option1 || '';
              if (optIdx.indexOf('option1') != -1) {
                option1Value = value || '';
              }
              var option2Value = selectedVariant.option2 || '';
              if (optIdx.indexOf('option2') != -1) {
                option2Value = value || '';
              }
              var option3Value = selectedVariant.option3 || '';
              if (optIdx.indexOf(option3) != -1) {
                option3Value = value || '';
              }
              for (var variant of product.variants) {
                var v1 = variant.option1 || '';
                var v2 = variant.option2 || '';
                var v3 = variant.option3 || '';
                if (variant.available && option1Value == v1 && option2Value == v2 && option3Value == v3) {
                  variantDisabled = 0;
                }
              }
            } else {
              {% comment %}没有选中子商品需要检查该属性值是否有对应的子商品，没有需要禁用{% endcomment %}
              var variantExists = 0;
              if (optIdx.indexOf('option1') != -1 && variantExists == 0) {
                for (var variant of product.variants) {
                  if (value == variant.option1 && variant.available_quantity > 0) {
                    variantExists = 1;
                  }
                }
              }
              if (optIdx.indexOf('option2') != -1 && variantExists == 0) {
                for (var variant of product.variants) {
                  if (value == variant.option2 && variant.available_quantity > 0) {
                    variantExists = 1;
                  }
                }
              }
              if (optIdx.indexOf('option3') != -1 && variantExists == 0) {
                for (var variant of product.variants) {
                  if (value == variant.option3 && variant.available_quantity > 0) {
                    variantExists = 1;
                  }
                }
              }
              if (variantExists == 0) {
                variantDisabled = 1;
              }
            }
            if (!product.available || !product.published) {
              variantDisabled = 1;
            }
            variantDisabledArray = variantDisabledArray.concat(variantDisabled);
          }
        %>
        
        <div class="tw-mt-6 lg:tw-mt-8 product-info__variants_items">
          <div class="tw-text-sm tw-capitalize tw-text-title-color tw-leading-4 type-heading-font-family product-info__variants_title">
            <% if (is_color || is_thumbnail) { %>
              <span class="variant_color-label"><% if (selectedOptValue) { %><%= selectedOptValue %><% } %></span>
            <% } else { %>
              <%= opt.name %>
            <% } %>
          </div>
          <div class="tw-flex tw-flex-wrap tw--mr-2.5 product-info__variants_value-wrapper">
            <% for (var j = 0; j < opt.values.length; j++) { %>
              <% var value = opt.values[j]; %>
              <span class=" tw-relative  tw-mt-4 tw-mr-3 <% if (is_color) { %> tw-h-8 tw-min-w-8 <% } else { %> tw-flex tw-items-center tw-relative tw-text-btn-bg-color <% if (is_thumbnail) { %> tw-h-9 tw-w-9  <% } else { %> tw-break-words tw-min-w-10 tw-text-sm  <% } %> <% } %> btn product-info__variants_value ">
                <input type="radio" class="tw-hidden product-info__variants_radio" name="<%= optIdx + '-' + product.id %>" id="<%= optIdx + '-' + j + '-' + product.id %>" <% if (value == selectedOptValue) { %> checked <% } %>   value="<%= value %>" />
                <% if (is_thumbnail) { %>
                  <%
                    var thumbnail_image = '';
                    var optValue = '';
                    for (v of product.variants) {
                      if (optIdx.indexOf('option1') != -1) {
                        optValue = v.option1;
                      }
                      if (optIdx.indexOf('option2') != -1) {
                        optValue = v.option2;
                      }
                      if (optIdx.indexOf('option3') != -1) {
                        optValue = v.option3;
                      }

                      if (thumbnail_image == '' && optValue == value) {
                        thumbnail_image = v.image.src;
                      }
                    }
                  %>
                  <label optValue="<%= optValue %>" data-bgset="<%= $imports.reset_image(thumbnail_image, '180') %>" for="<%= optIdx + '-' + j + '-' + product.id %>" data-variants-value="<%= value %>" class="tw-absolute tw-inset-0 tw-bg-no-repeat tw-bg-cover tw-bg-center tw-box-border tw-border tw-border-solid tw-border-transparent {%if settings.general_style == 'round'%}tw-rounded{%endif%} lazyload product-info__thumbnail" data-options-order="<%= j %>" data-click="select" data-track="switch_variants" data-track-view="ajax"></label>
                <% } else { %>
                  <% if (is_color) { %>
                    <% var downcase_color = value.toLowerCase(); %>
                    <label style="background-color: <%= colors[downcase_color] %>;" for="<%= optIdx + '-' + j + '-' + product.id %>" data-variants-value="<%= value %>" class="tw-absolute tw-inset-0 tw-rounded-full product-info__swatch" data-options-order="<%= j %>" data-click="select" data-track="switch_variants" data-track-view="ajax"></label>
                  <% } else { %>
                    <label for="<%= optIdx + '-' + j + '-' + product.id %>" data-variants-value="<%= value %>" class="tw-px-2 tw-min-w-13 tw-h-full tw-text-center tw-leading-8 tw-box-border tw-border tw-border-solid tw-border-light-border-color {%if settings.general_style == 'round'%}tw-rounded{%endif%} product-info__label"  data-options-order="<%= j %>" data-click="select" data-track="switch_variants" data-track-view="ajax"><%= value %></label>
                  <% } %>
                <% } %>
              </span>
            <% } %>
          </div>
        </div>
      <% } %>
    </div>
    <div class="product-info__btn <% if (disabled) { %>variant_disabled<% } %>" data-disabled="<%= disabled %>">
      <div  class="tw-mt-6 lg:tw-mt-8  product-info__qty_container tw-flex ">
        <button type="button" class="tw-flex-1 tw-w-full tw-text-btn-text-color tw-bg-btn-bg-color tw-border-2 tw-border-btn-bg-color tw-text-btn-font-size tw-tracking-btn-letter-spacing {%if settings.type_button_same_with == 'heading'%}type-heading-font-family{%else%}type-text-font-family{%endif%} {%if settings.type_button_text_uppercase_on%}tw-uppercase{%endif%} tw-box-content tw-border-none tw-outline-none tw-p-0 tw-h-12.5 tw-text-sm tw-cursor-pointer lg:hover:tw-opacity-75 active:tw-opacity-75 disabled:tw-opacity-40 disabled:tw-cursor-not-allowed {%if settings.general_style == 'round'%}tw-rounded{%endif%} tw-relative btn btn-secondary product-info__add-to-cart" data-click="addToCart" data-sold-out="{{ langs.product.product_detail.sold_out | t }}" data-on-sale="{{ langs.product.product_detail.add_to_bag | t }}" data-unavailable="{{ langs.products.product.unavailable | t }}" data-switch-variant="{{ langs.product.product_detail.switch_variant | t }}" data-added-to-bag-successfully="{{ langs.product.product_detail.added_to_bag_successfully | t }}" <% if (disabled) { %>disabled<% } %> >
        <% if (disabled) { %>
          {{ langs.product.product_detail.sold_out | t }}
        <% } else { %>
          {{ langs.product.product_detail.add_to_bag | t }}
        <% } %>
      </button>
      </div>
    </div>
  </div>
</script>