<script type="text/html" id="quick_view_tpl">
  <div class="tw-grid tw-grid-cols-12 grid-flow-col product-detail tw-px-5 tw-py-6 lg:tw-px-0 lg:tw-py-0 product-detail-<%= product.id %>" id="product_detail_<%= product.id %>" data-track="product" data-track-id="<%= product.id %>" data-track-price="<%= product.price %>" data-track-name="<%= product.title %>" data-track-type="<%= product.type %>" style="grid-template-rows: auto 1fr;">
    <div class="tw-col-span-4 lg:tw-row-span-2 lg:tw-col-span-6 tw-border-b lg:tw-border-b-0 tw-border-t-0 tw-border-l-0 tw-border-r-0 tw-border-solid tw-border-gray-400 tw-pb-6 lg:tw-pb-0 lg:tw-pr-8 product-image">
      <div class="{%if settings.general_style == 'round'%}tw-rounded{%endif%} tw-relative tw-text-0 tw-h-0 tw-overflow-hidden product-image-ajax" style="padding-bottom:100%;" >
        <img src="{{shop.default_img}}" class="tw-absolute tw-h-full tw-w-full tw-inset-0 tw-object-cover lazyload {%if settings.general_style == 'round'%}tw-rounded{%endif%} " data-sizes="auto" data-src="<%= $imports.reset_image(product.image.src, '{width}') %>"/>
      </div>
    </div>
    <div class="tw-col-span-8 lg:tw-col-span-6 tw-px-3 lg:tw-px-0  tw-border-b lg:tw-border-b-0 tw-border-t-0 tw-border-l-0 tw-border-r-0 tw-border-solid tw-border-gray-400 tw-pb-6 lg:tw-pb-0 product-info__header">
      <h1 class="tw-m-0 tw-text-title-color type-heading-font-family tw-text-lg lg:tw-text-xl tw-tracking-product-detail-heading-letter-spacing tw-leading-product-detail-heading-line-height {%if settings.type_product_text_uppercase_on%}tw-uppercase{%endif%} tw-break-words product-info__header_title "><%= product.title %></h1>
      <div class="tw-text-price-color tw-leading-none tw-inline-block lg:tw-block tw-mt-4 tw-mr-2 tw-text-lg lg:tw-text-xl product-info__header_price money"><%= $imports.finance_money_with_symbol(selectedVariant.price) %></div>
      {% if settings.product_label_discount_on %}
        <div class="tw-leading-none empty:tw-hidden tw-flex tw-items-center">
          <del class="tw-text-compare-at-price-color tw-mt-2 tw-text-sm lg:tw-text-price-font-size tw-mr-2 <% if (!(selectedVariant.off_ratio > 0)) { %>tw-hidden<% } %> product-info__header_compare-at-price money">
            <%= $imports.finance_money_with_symbol(selectedVariant.compare_at_price) %>
          </del>
          {% if settings.product_label_discount_format == 'percentage' %}
            <span class="tw-mt-2 product-info__off <% if (!(selectedVariant.off_ratio > 0)) { %>tw-hidden<% } %>" data-off="{{ langs.product.product_detail.off | t: count: "[count]" | replace: "OFF","Off" }}" >
              <%- "{{ langs.product.product_detail.off | t }}".replace(/\{\{\s*count\s*\}\}/, selectedVariant.off_ratio) %>
            </span>
          {% elsif settings.product_label_discount_format == 'amount' %}
            <span class="tw-mt-2 product-info__save <% if (!(selectedVariant.off_ratio > 0)) { %>tw-hidden<% } %>"  data-save="{{ langs.product.product_detail.save_html | t: saved_amount: "[saved]" }}" >
              <% var saved_amount = $imports.finance_money_with_symbol((selectedVariant.compare_at_price -  selectedVariant.price).toFixed(2)); %>
              <%- "{{ langs.product.product_detail.save_html | t }}".replace(/\{\{\s*saved_amount\s*\}\}/, saved_amount) %>
            </span>
          {% endif %}
        </div>
      {% endif %}
    </div>
    <form class="tw-col-span-12 lg:tw-col-span-6 product-info product-info-<%= product.id %> properties">
      <% include ('product_info_body_art_tpl', {
        product: product,
        selectedVariant: selectedVariant
      }) %>
    </form>
  </div>
</script>

{% include 'product_info_body_art_tpl' %}