{% comment %} 
  轮播图高度由外面写样式控制
  id
  images
  slide
  initialSlide
  autoplay
  slidesToShow
  slidesToShowPC
{% endcomment %}
{% if id and images.size > 0 and slide %}
  {% assign initialSlide = initialSlide | default: 0 %}
  {% assign qty = images.size %}
  {% assign times = 1 %}
  {% if qty < 6 and qty > 1 %}
    {% assign times = 6 | divided_by: qty | ceil %}
    {% assign qty = qty | times: times %}
  {% endif %}
  {% assign angle = 360 | divided_by: qty %}
  
  {% assign slidesToShow = slidesToShow | default: 1 %}
  {% assign slidesToShowPC = slidesToShowPC | default: slidesToShow %}

  <div class="tw-overflow-hidden tw-relative slides slides-{{id}}" data-slides-id="{{id}}" data-slides-active="{{initialSlide}}" data-slides-qty="{{qty}}" data-slides-images-qty="{{images.size}}" data-slides-angle="{{angle}}">
    <div class="tw-absolute tw-h-full slides-content" style="transform: rotateY(-{{initialSlide | times: angle}}deg)">
      {% comment %} 不够6张图凑够6张以上，保证切换平滑 {% endcomment %}
      {% for i in (1..times) %}
        {% for image in images %}
          {% assign index = i | minus: 1 | times: images.size | plus: forloop.index0 %}
          <div class="tw-absolute tw-w-full tw-h-full tw-overflow-hidden tw-bg-bg-color slides-item slides-item-{{index}} {% if index == initialSlide %}slides-active{% endif %}" data-index="{{forloop.index0}}" data-real-index="{{index}}" >
			
			{% if slide == 'slider_classic_slide' %}
				{% include "slider_classic_slide", image: image %}
			{% endif %}			
			{% if slide == 'slider_fashion_slide' %}
				{% include "slider_fashion_slide", image: image %}
			{% endif %}			
			{% if slide == 'product_slide' %}
				{% include "product_slide", image: image %}
			{% endif %}			
		 
          </div>
        {% endfor %}
      {% endfor %}
    </div>
    {% if qty > 1 %}
      {% if dots %}
        <div class="tw-flex tw-justify-center tw-items-center tw-absolute tw-z-20 tw-bottom-5 tw-left-1/2 tw-transform tw--translate-x-1/2 slides-dots">
          {% for image in images %}
            <button class="tw-p-0 tw-mx-1 tw-border-none tw-rounded-full tw-cursor-pointer slides-dot slides-{{id}}-dot {% if forloop.index0 == 0 %}slides-dot-active{% endif %}" data-index="{{forloop.index0}}"></button>
          {% endfor %}
        </div>
      {% endif %}
      {% if arrows %}
        <a href="javascript:;" class="tw-shadow-3 tw-absolute tw-rounded-full tw-inset-0 tw-right-auto tw-top-1/2 tw--mt-6 tw-ml-7 tw-text-white tw-bg-black tw-bg-opacity-40 tw-no-underline tw-h-12 tw-w-12 tw-justify-center tw-items-center tw-z-50 tw-flex tw-transform tw-transition-transform tw-duration-300 hover:tw-scale-110 slides-{{id}}-arrow" data-direction="prev">
          {% include 'icon_arrow',icon_class:"tw-fill-current" %}
        </a>
        <a href="javascript:;" class="tw-shadow-3 tw-absolute tw-rounded-full tw-inset-0 tw-left-auto tw-top-1/2 tw--mt-6 tw-mr-7 tw-text-white tw-bg-black tw-bg-opacity-40 tw-no-underline tw-h-12 tw-w-12 tw-justify-center tw-items-center tw-z-50 tw-flex tw-transform tw-transition-transform tw-duration-300 hover:tw-scale-110 slides-{{id}}-arrow" data-direction="next">
          {% include 'icon_arrow',icon_class:"tw-transform tw-rotate-180 tw-fill-current"%}
        </a>
      {% endif %}
    {% endif %}
  </div>
  <style>
    .slides{cursor:pointer; cursor:-webkit-grab;}
    .slides:active {cursor:-webkit-grabbing;}
    .slides-swiping a, .slides-swiping img{pointer-events: none;}
    .slides-dot{width:10px; height:10px; background-color:rgba(0, 0, 0, 0.2);}
    .slides-dot-active{width:12px; height:12px; background-color:#f5f5f5;}
    .slides-content{transform-style: preserve-3d;}
    .slides-{{id}} .slides-content{ width: {{100 | divided_by: slidesToShow }}%;}
    {% if slidesToShow != slidesToShowPC %}
      @media (min-width: {{settings.breakpoint}}px){
        .slides-{{id}} .slides-content{
          width: {{100 | divided_by: slidesToShowPC }}%;
        }
      }
    {% endif %}
    {% assign PI = 3.141592653589793 %}
    {% assign tan = PI | divided_by: qty | tan %}
    {% assign translateZ = 50 | divided_by: slidesToShow | divided_by: tan | append: 'vw' %}
    {% assign translateZ_pc = 50 | divided_by: slidesToShowPC | divided_by: tan | append: 'vw' %}
    {% for i in (1..times) %}
      {% for image in images %}
        {% assign index = i | minus: 1 | times: images.size | plus: forloop.index0 %}
        {% assign rotateY = angle | times: index | append: 'deg' %}
        .slides-{{id}} .slides-item-{{index}}{transform: rotateY({{rotateY}}) translateZ({{translateZ}});}
        {% if translateZ != translateZ_pc %}
          @media (min-width: {{settings.breakpoint}}px){
            .slides-{{id}} .slides-item-{{index}}{
              transform: rotateY({{rotateY}}) translateZ({{translateZ_pc}});
            }
          }
        {% endif %}
      {% endfor %}
    {% endfor %}
  </style>
{% endif %}
{% include 'slides_js' %}