{% comment %}放大的全屏幻灯片{% endcomment %}
<div class="tw-hidden tw-inset-0 tw-bg-white tw-z-modal" id="zoomed">
  <div class="tw-absolute tw-inset-0 tw-w-full tw-h-full tw-overflow-hidden support-slick ">
    {% assign zoomedId = section.id | prepend: 'zoomed-' %}
    {% include 'slides', id: zoomedId, images: product.images, slide: 'zoomed_slide', initialSlide: 0, slidesToShow: 1 %}
  </div>
  {% if product.images.size > 1 %}
    <a href="javascript:;" class="tw-absolute tw-inset-0 tw-right-auto tw-text-btn-bg-color tw-no-underline tw-h-full tw-w-40 tw-hidden lg:tw-flex tw-justify-center tw-items-center sep-loaded-slider__button sep-loaded-slider__button-prev slides-{{zoomedId}}-arrow" data-direction="prev">{% include 'icon_bg_arrow', class: "tw-max-w-12 tw-max-h-12 tw-min-w-12 tw-min-h-12", icon_class: "tw-text-btn-bg-color" %}</a>
    <a href="javascript:;" class="tw-absolute tw-inset-0 tw-left-auto tw-text-btn-bg-color tw-no-underline tw-h-full tw-w-40 tw-hidden lg:tw-flex tw-justify-center tw-items-center sep-loaded-slider__button sep-loaded-slider__button-next slides-{{zoomedId}}-arrow" data-direction="next">{% include 'icon_bg_arrow',icon_class:"tw-transform tw-rotate-180 tw-text-btn-bg-color", class: "tw-max-w-12 tw-max-h-12 tw-min-w-12 tw-min-h-12" %}</a>
  {% endif %}
  <a href="javascript:;" class="tw-absolute tw-right-0 tw-top-0 tw-h-12 tw-w-12 tw-text-current tw-flex tw-items-center tw-justify-center zoomed_close" >{% include 'icon_close_btn',icon_class:"tw-fill-current tw-h-4 tw-w-4" %}</a>
  <div class="tw-absolute tw--mt-10 tw-left-1/2 tw-transform tw--translate-x-1/2 tw-z-10 tw-text-sm tw-bg-black tw-bg-opacity-50 tw-text-white tw-h-5 tw-leading-5 tw-px-3 tw-rounded-full product-image__swiper_bullets">{{initialSlide | plus: 1}} / {{product.images.size}}</div>
</div>
<style>.slides-{{zoomedId}}{height:100%;}</style>

{% javascript %}
  $(function () {
    var $zoomContainer = $('#zoomed');
    var $zoomedSlider = $zoomContainer.find(".slides-zoomed-{{section.id}}").eq(0);
    var size = {{product.images.size | default: 0}};
    $(document).off("click.zoom.close").on("click.zoom.close", ".zoomed_close", function () {
      $('#zoomed').addClass("tw-hidden").removeClass("tw-fixed");
    }).off('click.zoom.open').on('click.zoom.open', '.slider-zoom[data-zoom-idx]', function (e) {
      var $zoomed = $("#zoomed");
      if (!$zoomedSlider.hasClass('slides-initialized') && size > 1) {
        $zoomedSlider.slides().on('beforeChange', function (event, data) {
          var nextSlide = data.nextSlide;
          var nextIndex = nextSlide.index;
          $(".product-image__swiper_bullets").html((nextIndex + 1) + " / " + size);
          $(".slides-{{section.id}}").trigger('slidesGoTo', {i: nextIndex, dontAnimate: true});
        });
      }
      if (!$zoomedSlider.hasClass('zoomed-initialized')) {
        $zoomedSlider.addClass('zoomed-initialized');
        $('.zoom img').zoom();
      }
      var idx = parseInt($(e.currentTarget).attr("data-zoom-idx"), 10);
      $zoomedSlider.trigger('slidesGoTo',{i: idx, dontAnimate: true});
      $zoomed.is(".tw-hidden") && $zoomed.removeClass("tw-hidden").addClass("tw-fixed");
    });
  });
{% endjavascript %}