{% assign defaultImg = '/themes/theme1/assets/image/643f7b6086.png' | img_url: '1080x' %}

<div class="container">
  <div class="row d-block reviews-product-container pt-5" data-aos="reviews">
    <div class="reviews-product">
    {% assign first_product_id = '0' %}
    {% for i in (1..4) %}
      {% assign key = i | prepend:"product" %}
      {% assign product_id =  section.settings[key].id %}
      {% assign product = all_products[product_id] %}
      {% if first_product_id == '0' and product.published and product.available %}
        {% assign first_product_id = product_id %}
      {% endif %}
      {% if product.published and product.available %}
        <div class="review-product-item {% if first_product_id == product_id %}on{% endif %}" data-review-product-id="{{product_id}}">
          <div class="image-wrap lazyload" data-bgset='{%if product.image.src %}{{ product.image.src }}{% else %}{{ defaultImg }}{% endif %}' alt="{{ product.title }}" title="{{ prouduct.title }}"></div>
          <h3>{%if product.title %}{{ product.title }}{% else %}Example product{% endif %}</h3>
        </div>
      {%else%}
        <div class="review-product-item" data-review-product-id="">
          <div class="image-wrap lazyload" data-bgset='{{ defaultImg }}' alt="" title=""></div>
          <h3>Example product</h3>
        </div>
      {% endif %} 
    {% endfor %}

    </div>
  </div>
  <div class="row d-block reviews-content reviews-section" id="section-{{section.id}}-contents" data-product-reviews="{{ first_product_id }}">
  <div class="sep-loading__content reviews-content-loading"></div>
  </div>
</div>

<style>.reviews-no-tips {
  padding: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: none; }

.reviews-content-loading {
  margin: 100px auto; }

.reviews-product-container {
  overflow: auto;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none; }
  .reviews-product-container::-webkit-scrollbar {
    width: 0 !important; }

.reviews-product {
  display: flex;
  border-bottom: 1px solid #eee; }

@media (max-width: 768px) {
  .reviews-product {
    width: 300%; } }

.review-product-item {
  flex: 0 0 25%;
  padding: 0 12px;
  position: relative; }

.review-product-item:after {
  content: "";
  position: absolute;
  width: 80%;
  height: 4px;
  bottom: 0;
  left: 10%; }

.review-product-item.on:after {
  background: #FFC700; }

.review-product-item .image-wrap {
  height: 280px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.review-product-item h3 {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  margin-top: 12px;
  margin-bottom: 26px; }

.reviews-content[data-product-reviews='0'] {
  pointer-events: none; }

@media (min-width: 768px) {
  .reviews-product-container.row {
    margin: 0 -1.6875rem; } }
</style>
<style>.reviews-no-tips{padding:70px;display:flex;align-items:center;justify-content:center;flex-direction:column;display:none}.reviews-content-loading{margin:100px auto}.reviews-product-container{overflow:auto;overflow:-moz-scrollbars-none;-ms-overflow-style:none}.reviews-product-container::-webkit-scrollbar{width:0!important}.reviews-product{display:flex;border-bottom:1px solid #eee}@media (max-width:768px){.reviews-product{width:300%}}.review-product-item{flex:0 0 25%;padding:0 12px;position:relative}.review-product-item:after{content:"";position:absolute;width:80%;height:4px;bottom:0;left:10%}.review-product-item.on:after{background:#ffc700}.review-product-item .image-wrap{height:280px;overflow:hidden;background-size:cover;background-position:center;background-repeat:no-repeat}.review-product-item h3{font-size:20px;font-weight:400;line-height:28px;text-align:center;margin-top:12px;margin-bottom:26px}.reviews-content[data-product-reviews='0']{pointer-events:none}@media (min-width:768px){.reviews-product-container.row{margin:0 -1.6875rem}}</style>

{% javascript %}
   $(function () {
     $(document.body).on('click', '.review-product-item', function (event) {
       $(this).addClass('on').siblings().removeClass('on');
       $("#section-{{section.id}}-contents").attr("data-product-reviews", $(this).attr("data-review-product-id")).html('<div class="sep-loading__content reviews-content-loading"></div>');
       $(document.body).trigger("update_section_review");
       !event.isTrigger && this.scrollIntoView({
        behavior: "smooth",
        block: "start",
        inline: "center"
      });
     });
     $('.review-product-item:eq(0)').click();
   })
{% endjavascript %}

{% schema %}
{
  "name": "reviews",
  "settings": [
    {
      "type": "header",
      "content": {
        "en-US": "Settings",
        "zh-CN": "设置"
      }
    },
    {
      "type": "product",
      "id": "product1",
      "label": "",
      "default": {
        "id": 0
      }
    },
    {
      "type": "product",
      "id": "product2",
      "label": "",
      "default": {
        "id": 0
      }
    },
    {
      "type": "product",
      "id": "product3",
      "label": "",
      "default": {
        "id": 0
      }
    },
    {
      "type": "product",
      "id": "product4",
      "label": "",
      "default": {
        "id": 0
      }
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "reviews",
      "cname": {
        "zh-CN": "评论",
        "en-US": "Testimonial"
      },
      "category": {
        "en-US": "Material",
        "zh-CN": "素材"
      },
      "ccategory": {
        "en-US": "Material",
        "zh-CN": "素材"
      },
      "display": true,
      "blocks": [],
      "icon": ""
    }
  ]
}
{% endschema %}