{% assign title = section.settings.title %}
{% assign arrangement = section.settings.arrangement %}
{% assign collection = section.settings.collection %}
{% assign max_count = section.settings.max_count %}
{% assign product_hover_image = section.settings.product_hover_image %}
{% assign _image = shop.defaultImg | img_url %}

{% if shop.env == 0 and collection.id == 0 %}
  {% comment %} 专辑ID空（C端没有选择专辑的情况） {% endcomment %}
  {% assign style = 'display: none;' %}
{% elsif shop.env == 0 and collections[collection.id].products.size == 0 %}
  {% comment %} 专辑ID不空，但是商品数量空（专辑存在） {% endcomment %}
  {% assign style = 'display: none;' %}
{% elsif shop.env == 0 and collections[collection.id].products.size == '' %}
  {% comment %} 专辑ID不空，但是商品数量无法获取（专辑被删除） {% endcomment %}
  {% assign style = 'display: none;' %}
{% endif %}
<div class="collection_wrapper container container-gap" style="{{style}}">
  {% comment %} 卡片标题 {% endcomment %}
  {% if title %}
    {% include 'card_title', title: title %}
  {% endif %}

  {% if collection.id != 0 %}
    {% assign products = collections[collection.id].products %}
    {% if max_count <= products.size %}
      {% assign size = max_count %}
    {% else %}
      {% assign size = products.size %}
    {% endif %}

    {% case size %}
      {% when 1 %}
        {% assign colMd="col-md-12" %}
      {% when 2 %}
        {% assign colMd="col-md-6" %}
      {% when 4 %}
        {% assign colMd="col-md-6"%}
    {% endcase %}

    <div class="row product_row common__product-row">
      {% case size %}
        {% when 0 %}
          {% if shop.env == 1 %}
            {% include 'mock' %}
          {% endif %}
        {% when 3 %}
          {% if arrangement == 'grid' %}
            {% for product in products limit:size %}
              {% if product.published %}
                <div class="common__product-gap product_item {{arrangement}} col-md-4">
                  {% include 'product_plus', product: product, image_size: '80%' %}
                </div>
              {% endif %}
            {% endfor %}
          {% else %}
            <div class="common__product-gap product_item {{arrangement}} col-md-8">{% include 'product_plus', product: products[0], image_size: '83%' %}</div>
            <div class="common__product-gap product_item {{arrangement}} col-md-4">
              <div>{% include 'product_plus', product: products[1], image_size: '80%' %}</div>
              <div>{% include 'product_plus', product: products[2], image_size: '80%' %}</div>
            </div>
          {% endif %}
        {% when 5 %}
          {% if arrangement == 'grid' %}
            {% for product in products limit:2 %}
              {% if product.published %}
                <div class="common__product-gap product_item {{arrangement}} col-md-6">
                  {% include 'product_plus', product: product, image_size: '80%' %}
                </div>
              {% endif %}
            {% endfor %}
            {% for product in products offset:2 limit:3 %}
              {% if product.published %}
                <div class="common__product-gap product_item {{arrangement}} col-md-4">
                  {% include 'product_plus', product: product, image_size: '80%' %}
                </div>
              {% endif %}
            {% endfor %}

          {% else %}
            <div class="common__product-gap product_item {{arrangement}} col-md-8">{% include 'product_plus', product: products[0], image_size: '83%' %}</div>
            <div class="common__product-gap product_item {{arrangement}} col-md-4">
              <div>{% include 'product_plus', product: products[1], image_size: '80%' %}</div>
              <div>{% include 'product_plus', product: products[2], image_size: '80%' %}</div>
            </div>
            <div class="common__product-gap product_item {{arrangement}} col-md-6">{% include 'product_plus', product: products[3], image_size: '80%' %}</div>
            <div class="common__product-gap product_item {{arrangement}} col-md-6">{% include 'product_plus', product: products[4], image_size: '80%' %}</div>
          {% endif %}
        {% when 6 %}
          {% if arrangement == 'grid' %}
            {% for product in products limit:size %}
              {% if product.published %}
                <div class="common__product-gap product_item {{arrangement}} col-md-4">
                  {% include 'product_plus', product: product, image_size: '80%' %}
                </div>
              {% endif %}
            {% endfor %}
          {% else %}
            <div class="common__product-gap product_item {{arrangement}} col-md-8">{% include 'product_plus', product: products[0], image_size: '83%' %}</div>
            <div class="common__product-gap product_item {{arrangement}} col-md-4">
              <div>{% include 'product_plus', product: products[1], image_size: '80%' %}</div>
              <div>{% include 'product_plus', product: products[2], image_size: '80%' %}</div>
            </div>
            <div class="common__product-gap product_item {{arrangement}} col-md-4">
              <div>{% include 'product_plus', product: products[3], image_size: '80%' %}</div>
              <div>{% include 'product_plus', product: products[4], image_size: '80%' %}</div>
            </div>
            <div class="common__product-gap product_item {{arrangement}} col-md-8">{% include 'product_plus', product: products[5], image_size: '83%' %}</div>
          {% endif %}
        {% else %}
          {% for product in products limit:size %}
            {% if product.published %}
              <div class="common__product-gap product_item {{arrangement}} {{colMd}}">
                {% if size == 1 %}
                  {% assign ratio = '50%' %}
                {% else %}
                  {% assign ratio = '80%' %}
                {% endif %}
                {% include 'product_plus', product: product, image_size: ratio %}
              </div>
            {% endif %}
          {% endfor %}
          {% if shop.env == 1 and size == '' %}
            {% include 'mock' %}
          {% endif %}
      {% endcase %}
    </div>
  {% else %}
    {% if shop.env == 1 %}
      {% case max_count %}
        {% when 1 %}
          {% assign colMd="col-md-12" %}
        {% when 2 %}
          {% assign colMd="col-md-6" %}
        {% when 4 %}
          {% assign colMd="col-md-6"%}
      {% endcase %}
      <div class="row product_row common__product-row">
        {% case max_count %}
          {% when 3 %}
            {% if arrangement == 'grid' %}
              {% for i in (1..3) %}
                  <div class="common__product-gap product_item {{arrangement}} col-md-4">
                    {% include 'product_plus', product: default_product, image_size: '80%' %}
                  </div>
              {% endfor %}
            {% else %}
              <div class="common__product-gap product_item {{arrangement}} col-md-8">{% include 'product_plus', product: default_product, image_size: '83%' %}</div>
              <div class="common__product-gap product_item {{arrangement}} col-md-4">
                <div>{% include 'product_plus', product: default_product, image_size: '80%' %}</div>
                <div>{% include 'product_plus', product: default_product, image_size: '80%' %}</div>
              </div>
            {% endif %}
          {% when 5 %}
            {% if arrangement == 'grid' %}
              {% for i in (1..2) %}
                  <div class="common__product-gap product_item {{arrangement}} col-md-6">
                    {% include 'product_plus', product: default_product, image_size: '80%' %}
                  </div>
              {% endfor %}
              {% for i in (1..3)%}
                  <div class="common__product-gap product_item {{arrangement}} col-md-4">
                    {% include 'product_plus', product: default_product, image_size: '80%' %}
                  </div>
              {% endfor %}
            {% else %}
              <div class="common__product-gap product_item {{arrangement}} col-md-8">{% include 'product_plus', product: default_product, image_size: '83%' %}</div>
              <div class="common__product-gap product_item {{arrangement}} col-md-4">
                <div>{% include 'product_plus', product: default_product, image_size: '80%' %}</div>
                <div>{% include 'product_plus', product: default_product, image_size: '80%' %}</div>
              </div>
              <div class="common__product-gap product_item {{arrangement}} col-md-6">{% include 'product_plus', product: default_product, image_size: '80%' %}</div>
              <div class="common__product-gap product_item {{arrangement}} col-md-6">{% include 'product_plus', product: default_product, image_size: '80%' %}</div>
            {% endif %}
          {% when 6 %}
            {% if arrangement == 'grid' %}
              {% for i in (1..6) %}
                  <div class="common__product-gap product_item {{arrangement}} col-md-4">
                    {% include 'product_plus', product: default_product, image_size: '80%' %}
                  </div>
              {% endfor %}
            {% else %}
              <div class="common__product-gap product_item {{arrangement}} col-md-8">{% include 'product_plus', product: default_product, image_size: '83%' %}</div>
              <div class="common__product-gap product_item {{arrangement}} col-md-4">
                <div>{% include 'product_plus', product: default_product, image_size: '80%' %}</div>
                <div>{% include 'product_plus', product: default_product, image_size: '80%' %}</div>
              </div>
              <div class="common__product-gap product_item {{arrangement}} col-md-4">
                <div>{% include 'product_plus', product: default_product, image_size: '80%' %}</div>
                <div>{% include 'product_plus', product: default_product, image_size: '80%' %}</div>
              </div>
              <div class="common__product-gap product_item {{arrangement}} col-md-8">{% include 'product_plus', product: default_product, image_size: '83%' %}</div>
            {% endif %}
          {% else %}
            {% for product in (1..max_count)%}
                <div class="common__product-gap product_item {{arrangement}} {{colMd}}">
                  {% if max_count == 1 %}
                    {% assign ratio = '50%' %}
                  {% else %}
                    {% assign ratio = '80%' %}
                  {% endif %}
                  {% include 'product_plus', product: default_product, image_size: ratio %}
                </div>
            {% endfor %}
            {% if shop.env == 1 and max_count == '' %}
              {% include 'mock' %}
            {% endif %}
        {% endcase %}
      </div>
    {% endif %}
  {% endif %}
  {% if section.settings.view_all %}
    <div class="text-center">
      <a href="{{ section.settings.collection.url }}" class="btn btn-primary">{{ langs.collections.general.all_of_collection | t }}</a>
    </div>
  {% endif %}
</div>



{% schema %}
{
  "name": "products_plus",
  "contentType": [
    "products"
  ],
  "settings": [
    {
      "type": "header",
      "content": {
        "en-US": "Content",
        "zh-CN": "内容"
      }
    },
    {
      "type": "collection",
      "id": "collection",
      "label": {
        "en-US": "Add collection",
        "zh-CN": "添加专辑"
      }
    },
    {
      "type": "header",
      "content": {
        "en-US": "Settings",
        "zh-CN": "设置"
      }
    },
    {
      "type": "text",
      "id": "title",
      "label": {
        "en-US": "Heading",
        "zh-CN": "标题"
      },
      "default": "Featured collection",
      "placeholder": {
        "zh-CN": "请输入内容",
        "en-US": "Input heading"
      }
    },
    {
      "type": "select",
      "label": {
        "zh-CN": "商品排列方式",
        "en-US": "Product arrangement style"
      },
      "id": "arrangement",
      "default": "collage",
      "options": [
        {
          "value": "collage",
          "label": {
            "zh-CN": "拼图式",
            "en-US": "Puzzle"
          }
        },
        {
          "value": "grid",
          "label": {
            "zh-CN": "网格式",
            "en-US": "Grid"
          }
        }
      ]
    },
    {
      "type": "range",
      "label": {
        "zh-CN": "最多展示商品数",
        "en-US": "Show the max number of products per row"
      },
      "id": "max_count",
      "min": 2,
      "max": 6,
      "step": 1,
      "default": 3
    },
    {
      "type": "checkbox",
      "label": {
        "zh-CN": "鼠标悬停显示第2张图",
        "en-US": "Show secondary image on hover"
      },
      "id": "product_hover_image",
      "default": true
    },
    {
      "type": "checkbox",
      "label": {
        "zh-CN": "显示”View all“",
        "en-US": "Show \"View all\""
      },
      "id": "view_all",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "products_plus",
      "cname": {
        "zh-CN": "专辑商品",
        "en-US": "Collection products"
      },
      "category": {
        "zh-CN": "商品",
        "en-US": "Products"
      },
      "ccategory": {
        "en-US": "Product",
        "zh-CN": "商品"
      },
      "display": true,
      "blocks": []
    }
  ]
}
{% endschema %}