<style>.rich-text {
  margin: 0 auto; }
  @media (max-width: 767.98px) {
    .rich-text {
      padding-left: 0.9375rem;
      padding-right: 0.9375rem; } }
  .rich-text__title {
    color: #212121;
    font-weight: 500;
    text-align: center;
    margin-bottom: 1.5rem; }
    .rich-text__title_large {
      font-size: 3rem; }
    .rich-text__title_medium {
      font-size: 2.25rem; }
    .rich-text__title_small {
      font-size: 1.5rem; }
    @media (max-width: 767.98px) {
      .rich-text__title {
        margin-bottom: 0.75rem; }
        .rich-text__title_large {
          font-size: 1.875rem; }
        .rich-text__title_medium {
          font-size: 1.5rem; }
        .rich-text__title_small {
          font-size: 1.125rem; } }
  .rich-text__text_large {
    font-size: 1.125rem; }
  .rich-text__text_medium {
    font-size: 1rem; }
  .rich-text__text_small {
    font-size: 0.875rem; }
  @media (min-width: 768px) {
    .rich-text__width_large {
      width: 100%;
      max-width: 67.5rem; }
    .rich-text__width_medium {
      width: 70.37%;
      max-width: 47.5rem; } }
</style>
{% if section.settings.title or section.settings.text %}
  <div class="container container-gap">
    <div class="row">
      {% assign  title= section.settings.title %}
{% assign  text= section.settings.text %}
{% assign  width= section.settings.width %}
{% assign  text_size= section.settings.text_size %}
<div class="rich-text container-gap mb-padding text-center rich-text__width_{{width}}">
  {% if title != '' %}
    <div class="rich-text__title rich-text__title_{{ text_size }} xf_skin_title_font">{{ title | escape }}</div>
  {% endif %}
  <div class="xf-mce-view rich-text__text_{{ text_size }} xf_skin_text">{{ text }}</div>
</div>
    </div>
  </div>
{% endif %}



{% schema %}
{
  "name": "rich_text",
  "settings": [
    {
      "type": "header",
      "content": {
        "en-US": "Text",
        "zh-CN": "文本"
      }
    },
    {
      "type": "text",
      "id": "title",
      "placeholder": {
        "zh-CN": "输入标题",
        "en-US": "Input heading"
      },
      "label": {
        "en-US": "Heading",
        "zh-CN": "标题"
      },
      "default": "Talk about your brand"
    },
    {
      "type": "richtext",
      "id": "text",
      "placeholder": {
        "zh-CN": "输入文本内容",
        "en-US": "Input text"
      },
      "label": {
        "en-US": "Text",
        "zh-CN": "文本"
      },
      "default": "<p><span>Use this text to share information about your brand with your customers. Describe a product,share announcements,or welcome customers to your store.</span></p>"
    },
    {
      "type": "select",
      "id": "width",
      "label": {
        "en-US": "Text width",
        "zh-CN": "文本宽度"
      },
      "default": "large",
      "options": [
        {
          "value": "large",
          "label": {
            "zh-CN": "大（1080px）",
            "en-US": "Large（1080px）"
          }
        },
        {
          "value": "medium",
          "label": {
            "zh-CN": "中（760px）",
            "en-US": "Medium（760px）"
          }
        }
      ]
    },
    {
      "type": "select",
      "id": "text_size",
      "label": {
        "zh-CN": "字体大小",
        "en-US": "Font Size"
      },
      "default": "medium",
      "options": [
        {
          "value": "large",
          "label": {
            "zh-CN": "大",
            "en-US": "Large"
          }
        },
        {
          "value": "medium",
          "label": {
            "zh-CN": "中",
            "en-US": "Medium"
          }
        },
        {
          "value": "small",
          "label": {
            "zh-CN": "小",
            "en-US": "Small"
          }
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "rich_text",
      "cname": {
        "en-US": "Rich text",
        "zh-CN": "富文本"
      },
      "category": {
        "en-US": "Material",
        "zh-CN": "素材"
      },
      "ccategory": {
        "en-US": "Material",
        "zh-CN": "素材"
      },
      "display": true,
      "blocks": []
    }
  ]
}
{% endschema %}